<div class="wizard">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class="row">
          <div class="col-md-6">
            <div class="number">
              1.
              <span></span>
            </div>
            Keyword Setup
          </div>
          <div class="col-md-6 active">
            <div class="number">
              2.
              <span></span>
            </div>
            Connect Twitter
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Connect your Twitter account</h1>
      <p>
        Explain what connecting their twitter account does. Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical process which mankind is carrying out in accordance with the natural laws of human development.
      </p>



      <div class="twitter_connect_button" style="margin-top: 30px;">
        <a href="#" class="btn btn_block btn_secondary">
          <i class="fa fa-twitter" style="font-size: 24px; vertical-align: middle; margin-right: 5px;"></i>
          <span>Connect Twitter</span>
        </a>
      </div>



    </div>
  </div>
</div>


<!-- JAVASCRIPT -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<%= javascript_include_tag "dashboard/application", 'data-turbolinks-track' => true %>



<script>
  $('.keywordBox').jvFloat();
</script>
