<div class="wizard">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class="row">
          <div class="col-md-6 active">
            <div class="number">
              1.
              <span></span>
            </div>
            Keyword Setup
          </div>
          <div class="col-md-6">
            <div class="number">
              2.
              <span></span>
            </div>
            Connect Twitter
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Setup your keywords</h1>
      <p>
        Explain what a stream is. Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical process which mankind is carrying out in accordance with the natural laws of human development.
      </p>


      <div class="note">
        <span style="font-weight:bold;">Note:</span> During the beta you can select upto 3 keywords. After we launch you will be able to select more.
      </div>


      <form role="form">

        <input type="text" class="keywordBox" id="first_keyword" placeholder="First Keyword" autofocus>
        <input type="text" class="keywordBox" id="second_keyword" placeholder="Second Keyword">
        <input type="text" class="keywordBox" id="third_keyword" placeholder="Third Keyword">


        <div class="city_seperator">
          And
        </div>

        <input type="text" class="keywordBox" id="city" placeholder="Enter a City">



        <button type="submit" class="btn btn_primary">Submit</button>
      </form>

    </div>
  </div>
</div>


<!-- JAVASCRIPT -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<%= javascript_include_tag "dashboard/application", 'data-turbolinks-track' => true %>



<script>
  $('.keywordBox').jvFloat();
</script>
