
<div class="page-title">
  <h3>Initial - <span class="semi-bold">Setup</span></h3>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="grid simple ">
      <div class="grid-body no-border" style="padding-top: 21px;">
        <h3>Twitter  <span class="semi-bold">Integration</span></h3>
        <p>
          We hate spam, we will never automatically post. You have to select and send the message.
        </p>
        <a href="#" class="btn btn-primary btn-cons">Activate Twitter</a>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="grid simple ">
      <div class="grid-body no-border" style="padding-top: 21px;">
        <h3>Define  <span class="semi-bold">Streams</span></h3>
        <p>
          We use the city and category you select to find people near you that are interested in your food.
        </p>
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-md-5">
            <!--<input placeholder="Category" class="form-control" type="text">-->
            <select id="source" style="width:100%">
              <option value="AK">Select category...</option>
              <option value="AK">Asian</option>
              <option value="AK">American</option>
              <option value="HI">South Amercian</option>
              <option value="AK">Western</option>
              <option value="AK">Western</option>
              <option value="AK">Western</option>
              <option value="AK">Western</option>
            </select>
          </div>
          <div class="col-md-5">
            <!--<input placeholder="City" class="form-control" type="text">-->
            <select id="source" style="width:100%">
              <option value="AK">Boston</option>
              <option value="AK">Chicago</option>
              <option value="HI">Los Angeles</option>
              <option value="AK">New York</option>
            </select>
          </div>
          <div class="col-md-2">
            <a href="#" class="btn btn-primary">Save</a>
          </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-md-5">
            <!--<input placeholder="Category" class="form-control" type="text">-->
            <select id="source" style="width:100%">
              <option value="AK">Select category...</option>
              <option value="AK">Asian</option>
              <option value="AK">American</option>
              <option value="HI">South Amercian</option>
              <option value="AK">Western</option>
              <option value="AK">Western</option>
              <option value="AK">Western</option>
              <option value="AK">Western</option>
            </select>
          </div>
          <div class="col-md-5">
            <!--<input placeholder="City" class="form-control" type="text">-->
            <select id="source" style="width:100%">
              <option value="AK">Boston</option>
              <option value="AK">Chicago</option>
              <option value="HI">Los Angeles</option>
              <option value="AK">New York</option>
            </select>
          </div>
          <div class="col-md-2">
            <a href="#" class="btn btn-primary">Save</a>
          </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-md-5">
            <!--<input placeholder="Category" class="form-control" type="text">-->
            <select id="source" style="width:100%">
              <option value="AK">Select category...</option>
              <option value="AK">Asian</option>
              <option value="AK">American</option>
              <option value="HI">South Amercian</option>
              <option value="AK">Western</option>
              <option value="AK">Western</option>
              <option value="AK">Western</option>
              <option value="AK">Western</option>
            </select>
          </div>
          <div class="col-md-5">
            <!--<input placeholder="City" class="form-control" type="text">-->
            <select id="source" style="width:100%">
              <option value="AK">Boston</option>
              <option value="AK">Chicago</option>
              <option value="HI">Los Angeles</option>
              <option value="AK">New York</option>
            </select>
          </div>
          <div class="col-md-2">
            <a href="#" class="btn btn-primary">Save</a>
          </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-md-5">
            <!--<input placeholder="Category" class="form-control" type="text">-->
            <select id="source" style="width:100%">
              <option value="AK">Select category...</option>
              <option value="AK">Asian</option>
              <option value="AK">American</option>
              <option value="HI">South Amercian</option>
              <option value="AK">Western</option>
              <option value="AK">Western</option>
              <option value="AK">Western</option>
              <option value="AK">Western</option>
            </select>
          </div>
          <div class="col-md-5">
            <!--<input placeholder="City" class="form-control" type="text">-->
            <select id="source" style="width:100%">
              <option value="AK">Boston</option>
              <option value="AK">Chicago</option>
              <option value="HI">Los Angeles</option>
              <option value="AK">New York</option>
            </select>
          </div>
          <div class="col-md-2">
            <a href="#" class="btn btn-primary">Save</a>
          </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-md-5">
            <!--<input placeholder="Category" class="form-control" type="text">-->
            <select id="source" style="width:100%">
              <option value="AK">Select category...</option>
              <option value="AK">Asian</option>
              <option value="AK">American</option>
              <option value="HI">South Amercian</option>
              <option value="AK">Western</option>
              <option value="AK">Western</option>
              <option value="AK">Western</option>
              <option value="AK">Western</option>
            </select>
          </div>
          <div class="col-md-5">
            <!--<input placeholder="City" class="form-control" type="text">-->
            <select id="source" style="width:100%">
              <option value="AK">Boston</option>
              <option value="AK">Chicago</option>
              <option value="HI">Los Angeles</option>
              <option value="AK">New York</option>
            </select>
          </div>
          <div class="col-md-2">
            <a href="#" class="btn btn-primary">Save</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>