
<div class="page-title">
  <h3>Initial - <span class="semi-bold">Setup</span></h3>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="grid simple ">
      <div class="grid-body no-border" style="padding-top: 21px;">
        <h3>Twitter  <span class="semi-bold">Integration</span></h3>
        <p>
          We hate spam, we will never automatically post. You have to select and send the message.
        </p>
        <a href="#" class="btn btn-primary btn-cons">Activate Twitter</a>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="grid simple ">
      <div class="grid-body no-border" style="padding-top: 21px;">
        <h3>Define  <span class="semi-bold">Streams</span></h3>
        <p>
          We use the city and category you select to find people near you that are interested in your food.
        </p>
        <div class="row">
          <div class="col-md-5">
            <input placeholder="Category" class="form-control" type="text">
          </div>
          <div class="col-md-5">
            <input placeholder="City" class="form-control" type="text">
          </div>
          <div class="col-md-2">
            <a href="#" class="btn btn-primary btn-cons">Save</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>