<div class="wizard">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class="row">
          <div class="col-md-6">
            <%= image_tag "logo-green.png" %>
          </div>
          <div class="col-md-6">
            Estimated time
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Processing</h1>

      <p style="font-style: italic">
        It will take approximately
        8hrs 26mins
        <!--Todo: Set the expected time dynamically -->
        to collect and process your tweets based on the keywords you entered. With 42 people in the queue ahead of you.
      </p>


      <table class="processing_status_list">
        <tr>
          <td>
            Getting website content
          </td>
          <td>
            Progress
          </td>
        </tr>

        <tr>
          <td>
            Building conversation profile from your website
          </td>
          <td>
            Progress
          </td>
        </tr>

        <tr>
          <td>
            Collecting tweets for -
            <!--Todo: Set the keyword dynamically-->
          </td>
          <td>
            Progress
          </td>
        </tr>


        <tr>
          <td>
            Collecting tweets for -
            <!--Todo: Set the keyword dynamically-->
          </td>
          <td>
            Progress
          </td>
        </tr>

        <tr>
          <td>
            Collecting tweets for -
            <!--Todo: Set the keyword dynamically-->
          </td>
          <td>
            Progress
          </td>
        </tr>


      </table>







    </div>
  </div>
</div>


