---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: in_reply_to_tweet_id=603936893957439488&status=%40mark_abehello+this+is+a+test+with+a+link+http%3A%2F%2Furbanzeak.com%2Fy6lej9+and+http%3A%2F%2Furbanzeak.com%2F2di6j2
    headers:
      Authorization:
      - OAuth oauth_consumer_key="IfbvdRkhk70qY41ytxKenzlKN", oauth_nonce="36bfc4b085d951dacdc02fc542d27779",
        oauth_signature="Ondq5NefrREWvoR7agsOj25oe1o%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1433815984", oauth_token="2431831016-cQXzpH7eoR7iSBO2A3nb7OLWzNcPBGngAeIxlEz",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 09 Jun 2015 02:13:04 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 8bad628fd5fdc0d802c5b3143545b771
      X-Response-Time:
      - '420'
      X-Transaction:
      - 7a0a8e022cb8d852
      X-Tsa-Request-Body-Time:
      - '97'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"created_at":"Tue Jun 09 02:13:04 +0000 2015","id":608094430529126401,"id_str":"608094430529126401","text":"@mark_abehello
        this is a test with a link http:\/\/t.co\/JXMR3T41IZ and http:\/\/t.co\/qvnR9IQMet","source":"\u003ca
        href=\"http:\/\/urbanzeak.com\" rel=\"nofollow\"\u003eurbanzeak\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2431831016,"id_str":"2431831016","name":"Prashant","screen_name":"prasGyeser","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":8,"friends_count":4,"listed_count":0,"created_at":"Mon
        Apr 07 10:22:34 +0000 2014","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":3,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/JXMR3T41IZ","expanded_url":"http:\/\/urbanzeak.com\/y6lej9","display_url":"urbanzeak.com\/y6lej9","indices":[42,64]},{"url":"http:\/\/t.co\/qvnR9IQMet","expanded_url":"http:\/\/urbanzeak.com\/2di6j2","display_url":"urbanzeak.com\/2di6j2","indices":[69,91]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}'
  recorded_at: Tue, 09 Jun 2015 02:13:05 GMT
recorded_with: VCR 2.9.3
