
<div class="notification-messages info" id="1">
  <div class="message-wrapper" style="width: 100%; height: auto" >

    <% if notification.notification_type == 'no_website' %>
      <div class="heading"> Website not found! </div>
      <div class="description" style="font-size: 14px;">
        We could not determine your website from your email
        <br/>
        <a href="" class="btn btn-small set_website" style="font-size: 12px; margin-top: 5px;" data-toggle="modal" data-target="#notifications_modal" data-notification-id="1">Set Website</a>
      </div>
    <% elsif notification.notification_type == 'keyword_not_working' %>
      <div class="heading"> Keyword not working </div>
      <div class="description" style="font-size: 14px;">
        Looks like some of your keywords are not returning great results. Changing them can improve your leads!
        <br/>
        <a href="" class="btn btn-small set_website" style="font-size: 12px; margin-top: 5px;" data-toggle="modal" data-target="#notifications_modal" data-notification-id="1">Set Website</a>
      </div>
    <% end %>

  </div>
  <div class="clearfix"></div>
</div>