
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8" />
  <title>Leads</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="" name="description" />
  <meta content="" name="author" />

  <%= stylesheet_link_tag    'dashboard/application', media: 'all', 'data-turbolinks-track' => true %>

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse ">
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
    <!-- END RESPONSIVE MENU TOGGLER -->
    <div class="header-quick-nav" >
      <!-- BEGIN CHAT TOGGLER -->
      <div class="pull-right">
        <div class="chat-toggler"> <a href="#" class="dropdown-toggle" id="my-task-list" data-placement="bottom"  data-content='' data-toggle="dropdown" data-original-title="Notifications">
          <div class="user-details" style="margin-right: 20px;">
            <div class="username">
              <%= current_user.email %>
            </div>
          </div>
        </a>


        </div>
      </div>
      <!-- END CHAT TOGGLER -->
    </div>
    <!-- END TOP NAVIGATION MENU -->
  </div>
  <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
<!-- BEGIN PAGE CONTAINER-->
<div class="page-content">
<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<div id="portlet-config" class="modal hide">
  <div class="modal-header">
    <button data-dismiss="modal" class="close" type="button"></button>
    <h3>Widget Settings</h3>
  </div>
  <div class="modal-body"> Widget settings form goes here </div>
</div>
<div class="clearfix"></div>
<div class="content">
  <%= yield %>
</div>
<div class="admin-bar" id="quick-access" style="display:">
  <div class="admin-bar-inner">
    <div class="form-horizontal">
      <select id="val1" class="select2-wrapper m-r-10">
        <option value="Gecko">Gecko</option>
        <option value="Webkit">Webkit</option>
        <option value="KHTML">KHTML</option>
        <option value="Tasman">Tasman</option>
      </select>
      <select id="val2" class="select2-wrapper">
        <option value="Internet Explorer 10">Internet Explorer 10</option>
        <option value="Firefox 4.0">Firefox 4.0</option>
        <option value="Chrome">Chrome</option>
      </select>
    </div>
    <button class="btn btn-primary btn-cons btn-add" type="button">Add Browser</button>
    <button class="btn btn-white btn-cons btn-cancel" type="button">Cancel</button>
  </div>
</div>
<div class="addNewRow"></div>
</div>
</div>
<!-- END PAGE -->
<!-- END CONTAINER -->

</body>
</html>
