---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=This+is+a+test+post+to+see+how+things+look
    headers:
      Authorization:
      - OAuth oauth_consumer_key="IfbvdRkhk70qY41ytxKenzlKN", oauth_nonce="1f8b5a2ef37852780ed237c621ae91d1",
        oauth_signature="uw69Ygb30l1CuCLoveypeu1eSQM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1433396337", oauth_token="2431831016-cQXzpH7eoR7iSBO2A3nb7OLWzNcPBGngAeIxlEz",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 04 Jun 2015 05:38:57 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 4d57289586eaa8c060b030d1c35b9488
      X-Response-Time:
      - '508'
      X-Transaction:
      - 6a648b5629b2d9f2
      X-Tsa-Request-Body-Time:
      - '96'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"created_at":"Thu Jun 04 05:38:57 +0000 2015","id":606334303920754688,"id_str":"606334303920754688","text":"This
        is a test post to see how things look","source":"\u003ca href=\"http:\/\/urbanzeak.com\"
        rel=\"nofollow\"\u003eurbanzeak\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2431831016,"id_str":"2431831016","name":"Prashant","screen_name":"prasGyeser","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":7,"friends_count":5,"listed_count":0,"created_at":"Mon
        Apr 07 10:22:34 +0000 2014","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Thu, 04 Jun 2015 05:38:58 GMT
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=This+is+a+test+post+to+see+how+things+look+2
    headers:
      Authorization:
      - OAuth oauth_consumer_key="IfbvdRkhk70qY41ytxKenzlKN", oauth_nonce="ebcef108f392b10bce8640de29e6ef4a",
        oauth_signature="jbm%2BwkEWu9CJGGMtxF54maYVKjc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1433764138", oauth_token="2431831016-cQXzpH7eoR7iSBO2A3nb7OLWzNcPBGngAeIxlEz",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 08 Jun 2015 11:48:59 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 72ef2a511c7e6c7702ac4908c4dcc04c
      X-Response-Time:
      - '244'
      X-Transaction:
      - 0b35ee42587c1ee8
      X-Tsa-Request-Body-Time:
      - '158'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":187,"message":"Status is a duplicate."}]}'
  recorded_at: Mon, 08 Jun 2015 11:48:59 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="IfbvdRkhk70qY41ytxKenzlKN", oauth_nonce="1b3c0ed84b35789431221ae5fbcbfef9",
        oauth_signature="jvttC6GFIfaTzSIHf%2B90BFoN9KQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1433764139", oauth_token="2431831016-cQXzpH7eoR7iSBO2A3nb7OLWzNcPBGngAeIxlEz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 08 Jun 2015 11:49:00 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 34cc36480bab8de4c9943efac27ff7ab
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1433765040'
      X-Response-Time:
      - '229'
      X-Transaction:
      - 91b382c62eb4bbe6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Mon Jun 08 11:48:58 +0000 2015","id":607876971096215552,"id_str":"607876971096215552","text":"This
        is a test post to see how things look 2","source":"\u003ca href=\"http:\/\/urbanzeak.com\"
        rel=\"nofollow\"\u003eurbanzeak\u003c\/a\u003e","truncated":false,"in_[...]
