---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: in_reply_to_tweet_id=603936893957439488&status=This+is+a+test+post+to+see+how+things+look
    headers:
      Authorization:
      - OAuth oauth_consumer_key="IfbvdRkhk70qY41ytxKenzlKN", oauth_nonce="2eb8e0e3a196c2a9d0036b948ffb287a",
        oauth_signature="Ask1QZdl5MDXBKT0gtihFX0uMLQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1433426243", oauth_token="2431831016-cQXzpH7eoR7iSBO2A3nb7OLWzNcPBGngAeIxlEz",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 04 Jun 2015 13:57:24 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 4eb4b891afed7918821429d002f24bc8
      X-Response-Time:
      - '346'
      X-Transaction:
      - bbc26b34b204b46c
      X-Tsa-Request-Body-Time:
      - '93'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"created_at":"Thu Jun 04 13:57:24 +0000 2015","id":606459741406003200,"id_str":"606459741406003200","text":"This
        is a test post to see how things look","source":"\u003ca href=\"http:\/\/urbanzeak.com\"
        rel=\"nofollow\"\u003eurbanzeak\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2431831016,"id_str":"2431831016","name":"Prashant","screen_name":"prasGyeser","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":7,"friends_count":4,"listed_count":0,"created_at":"Mon
        Apr 07 10:22:34 +0000 2014","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Thu, 04 Jun 2015 13:57:24 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: in_reply_to_tweet_id=603936893957439488&status=This+is+a+test+post+to+see+how+things+look+2
    headers:
      Authorization:
      - OAuth oauth_consumer_key="IfbvdRkhk70qY41ytxKenzlKN", oauth_nonce="bafdc1e481250f7860eae71acdc9616d",
        oauth_signature="2aTwbrqMphHhsrk8UpdDnqCeIgA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1433764140", oauth_token="2431831016-cQXzpH7eoR7iSBO2A3nb7OLWzNcPBGngAeIxlEz",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 08 Jun 2015 11:49:01 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - d21d3d6ea9464abda362aa4af16350fa
      X-Response-Time:
      - '327'
      X-Transaction:
      - 8603e5f0a1fd5f6c
      X-Tsa-Request-Body-Time:
      - '157'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":187,"message":"Status is a duplicate."}]}'
  recorded_at: Mon, 08 Jun 2015 11:49:01 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="IfbvdRkhk70qY41ytxKenzlKN", oauth_nonce="1167abccfc4d8de866b8901ce184e015",
        oauth_signature="tbwwGXOtldcK5cIDrNQfRFzIH6c%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1433764141", oauth_token="2431831016-cQXzpH7eoR7iSBO2A3nb7OLWzNcPBGngAeIxlEz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 08 Jun 2015 11:49:02 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 9bb76011f7df97b61600258178491924
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1433765040'
      X-Response-Time:
      - '250'
      X-Transaction:
      - a31a8890f7243557
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Mon Jun 08 11:48:58 +0000 2015","id":607876971096215552,"id_str":"607876971096215552","text":"This
        is a test post to see how things look 2","source":"\u003ca href=\"http:\/\/urbanzeak.com\"
        rel=\"nofollow\"\u003eurbanzeak\u003c\/a\u003e","truncated":false,"in_[...]
[...]
