// Refer to https://github.com/twbs/bootstrap-sass for details on how to use this bootstrap gem

// Color Scheme
$base_green: #4abc96;
$base_blue: #49a0ae;
$base_light_blue: #dff1ed;
$base_background_color: #e5e9ec;


// Custom variables
$font-family-sans-serif: "proxima-nova",sans-serif;
$font-size-base: 16px;
$body-bg: $base_background_color;
$navbar-default-bg: #fff;
$navbar-default-border: none;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "style";
@import "leads";