.keywords
{
  ul
  {
    list-style: none;
    padding: 0;
    li
    {
      margin-bottom: 10px;
      a
      {
        //margin-left: 20px;
        color: #F6223F;
      }
    }
  }

  table
  {
    td
    {
      padding-right: 60px;
      padding-bottom: 20px;
      vertical-align: middle;

      .remove_keyword
      {
        color: #F6223F;
      }

    }
  }

}