$base_green: #4abc96;
$base_red: #e84849;
$base_light_brown: #f9f8f7;
$footer_dark_brown: #312d2a;
$heading_dark_brown: #423c36;
$pricing_table_border_color: #e6e4e0;


.alert
{
  padding: 10px;
  margin: 0;
  width: 90%;
}

.alert-success
{
  background: #dff3ec;
  border: 1px solid #94d8c1;
  color: #348e70;
}

.alert-error
{
  background: #f9d0d0;
  border: 1px solid #f5b2b2;
  color: #e84849;
}


.page_heading_container
{
  background: $base_light_brown;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 60px;

}

.leads_container
{
  background: white;
  margin-top: -80px;
  padding: 20px;
  border: 1px solid $pricing_table_border_color;
}

.connect_twitter
{
  img
  {
    margin: 30px auto;
    display: block;
  }
  a
  {
    left: 40%;
  }
}

.leads_table
{
  margin-top: -80px;
  margin-bottom: 60px;
  width: 100%;
  background: white;
  border: 1px solid $pricing_table_border_color;
  padding: 20px;
  tr
  {
    //padding: 20px;
    th
    {
      padding: 20px;
      font-weight: 200;
      border-bottom: 1px solid $pricing_table_border_color;
    }
    .title_column_header
    {
      font-size: 1.5em;
    }
    .title_bold
    {
      font-weight: bold;
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
    td
    {
      padding: 20px;
      //border-bottom: 1px solid $pricing_table_border_color;
    }
  }
}

tr.reply
{
  border-bottom: 1px solid $pricing_table_border_color;
  td
  {
    padding-top: 0;
    padding-bottom: 30px;
  }

}

input[type=text]
{
  width: 100%;
  padding: 5px;
  border: 1px solid #e6e4e0
}
input:focus
{
    outline: 0;
  border: 1px solid #b9b3a8;
}

button
{
  width: 100%;
  background: $base_green;
  border: none;
  color: #ffffff;
  padding: 6px;
}