$base_green: #4abc96;
$base_light_brown: #f9f8f7;
$footer_dark_brown: #312d2a;
$heading_dark_brown: #423c36;
$pricing_table_border_color: #e6e4e0;

.page_heading_container
{
  background: $base_light_brown;
  margin-bottom: 40px;
}

.connect_twitter
{
  img
  {
    margin: 30px auto;
    display: block;
  }
  a
  {
    left: 40%;
  }
}