/* COLOR SCHEME */
/* BASE GREEN: #1ABC9C */
/* CONTRAST RED: #F6223F */
/* CONTRAST BLUE: #1F97B9 */
/* CONTRAST YELLOW: #FFF323 */
/* LEFT NAV COLOR: #8b939a */
/* LEFT NAV ACTIVE COLOR: #1f2123 */
/* HEADER BACKGROUND COLOR: #2e3032 */


/* Styles go here */
body {
  padding-top: 51px;
  font-family: "proxima-nova",Arial,Helvetica Neue,Helvetica,sans-serif;
  font-size: 18px;
  font-weight: 300;
}
h1,h2,h3,h4,h5,h6
{
  font-family: "proxima-nova",Arial,Helvetica Neue,Helvetica,sans-serif;
}

h1
{
  font-size: 39px;
  font-weight: 700;
}

p
{
  font-size: 18px;
}

.note
{
  border: 1px solid #1F97B9;
  background: #ddf3f9;
  margin: 30px 0;
  padding: 20px;
  color: #1F97B9;
}


/*BUTTONS*/
.btn
{
  padding: 10px;
  width: 100%;
  color: white;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 40px;
}

.btn_block
{
  display: block;
}

.btn_primary
{
  background: #1ABC9C;  
}
.btn_primary:hover
{
  color: white; 
  background: #0cbc99;
}
.btn_secondary
{
  background: #1F97B9;
}
.btn_alert
{
  background: #F6223F;
}

/*ERROR STYLING -- START*/
.error
{
  border: 1px solid #F6223F;
  background: #fee6e9;
  color: #F6223F;
  padding: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}
/*ERROR STYLING -- END*/


/* FORM STYLING -- START */
::-webkit-input-placeholder {
  font-size: 18px;
  color: #333;
  font-family: "proxima-nova",Arial,Helvetica Neue,Helvetica,sans-serif;
}
:-moz-placeholder { /* older Firefox*/
  font-size:18px;
  color: #333;
  font-family: "proxima-nova",Arial,Helvetica Neue,Helvetica,sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 16px;
  color: #333;
  font-family: "proxima-nova",Arial,Helvetica Neue,Helvetica,sans-serif;
}
:-ms-input-placeholder {
  font-size: 18px;
  color: #333;
  font-family: "proxima-nova",Arial,Helvetica Neue,Helvetica,sans-serif;
}
/* FORM STYLING -- END */


.keywordBox
{
  border: 1px solid #ccc;
  /*border-bottom: 1px solid #ccc;*/
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

.keywordBox:active
{
  border: 1px solid #1F97B9;
  outline: none;
}

.keywordBox:focus
{
  border: 1px solid #1F97B9;
  outline: none;
}

.wizard
{
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-weight: 600;
  color: #dcdcdc;
}
.wizard .active
{
  color: #1F97B9;
}

.wizard .number span
{
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #ccc;
  top: 8px;;
  width: 80%;
  margin-left: 10px;
}

.city_seperator
{
  text-align: center;
  font-weight: 600;
  margin: 20px 0;
  
}