/* COLOR SCHEME */
/* BASE GREEN: #1ABC9C */
/* CONTRAST RED: #F6223F */
/* CONTRAST BLUE: #1F97B9 */
/* CONTRAST YELLOW: #FFF323 */
/* LEFT NAV COLOR: #8b939a */
/* LEFT NAV ACTIVE COLOR: #1f2123 */
/* HEADER BACKGROUND COLOR: #2e3032 */


/* Styles go here */
body {
  padding-top: 51px;
  font-family: "proxima-nova",Arial,Helvetica Neue,Helvetica,sans-serif;
  font-size: 18px;
  font-weight: 300;
}
h1,h2,h3,h4,h5,h6
{
  font-family: "proxima-nova",Arial,Helvetica Neue,Helvetica,sans-serif;
}

h1
{
  
}

a
{
  color: #1F97B9;
}
a:hover
{
  color: #0591b9;
}

/*BUTTONS*/
.btn
{
  padding: 10px;
  width: 100%;
  color: white;
  text-transform: uppercase;
}

.btn_block
{
  display: block;
}

.btn_primary
{
  background: #1ABC9C;  
}
.btn_primary:hover
{
  color: white; 
  background: #0cbc99;
}
.btn_secondary
{
  background: #1F97B9;
}
.btn_alert
{
  background: #F6223F;
}

input[type="text"] {
  border: 1px solid #ccc;
  /*margin-bottom: 20px;*/
  padding: 10px;
}
input[type=text]:active
{
  border: 1px solid #1F97B9;
  outline: none;
}
input[type=text]:focus
{
  border: 1px solid #1F97B9;
  outline: none;
}

/*ERROR STYLING -- START*/
.error
{
  border: 1px solid #F6223F;
  background: #fee6e9;
}
/*ERROR STYLING -- END*/


/* this is only to style the sidebar - you can make the sidebar look any way you want */
.sidebar {
  padding: 20px;
  background-color: #ededed;
  border-right: 1px solid #eee;
}

.navbar
{
  background: #2e3032;
  color: white;
}

.sidebar li
{
  
}


.sidebar a
{
  color: #8b939a;
  text-transform: uppercase;
}

.sidebar a:hover
{
  color: #1f2123;
}


/*OPPORTUNITIES SECTION STYLES*/
.opportunities ul
{
  list-style: none;
  margin-top: 40px;
  padding: 0;
  
}
.opportunities ul li
{
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  padding: 10px;
}

.opportunities ul li.replying
{
  background: #eafcf8;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.opportunities ul li.read
{
  background: #EDEDED;
}

.opportunities ul li.read img
{
  /* Making the image for read tweets, black and white */
  /* NOTE: This will not work in IE and needs the latest browser for all others */
  filter: grayscale(1);
}

.opportunities ul li img
{
  float: left;
  margin-right: 20px;
}

.bold
{
  font-weight: 600;
}

.screen_name
{
  display: block;
}
.actions
{
 
}

.opportunity_sub_items
{
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.opportunity_sub_items .title
{
  color: #b5c0c9;
}
.opportunity_sub_items .highlight
{
  color: #333;
}
.priority
{
  
}
.priority_high
{
  color: #1ABC9C;
}

.tweet_actions
{
  background: #2E3032;
  margin-top: -1px;
  color: white;
  text-align: center;
}

.tweet_actions h4
{
  margin-bottom: 20px;
}

.tweet_actions img
{
  text-align: center;
  display: block;
  color: #757a7f;
  margin: 20% auto 20px auto;
}


.tweet_actions .btn
{
  color: white;
  margin-top: 20px;
}

.tweet_actions .reply_form
{
  width: 100%;
  color: #333;
}

.tweet_actions .reply_form textarea
{
  width: 100%;
  padding: 10px;
  height: 50%;
  /*margin-top: 10px;*/
}

.tweet_actions p
{
  color: #fff;
  /*text-align: left;*/
}

.reply_sent_status_hidden
{
  display: none;
}



/* ADMIN STYLES -- START */
.lead_count_indicator_positive
{
  background: #F6223F;
  padding: 5px;
  color: white;
  margin-bottom: 20px;
}
.city
{
  float: right;
}
#invite_user
{
  float: right;
  font-size: 16px;

}
.keyword_list ul
{
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.keyword_list ul li
{
  display: inline;
  margin-right: 15px;
}
.keyword_list ul li.admin_created a
{
  color: #F6223F;
}
.invite_user_form input[type=text]
{
  border: 1px solid #ccc;
  /*border-bottom: 1px solid #ccc;*/
  /*width: 100%;*/
  margin-bottom: 20px;
  padding: 10px;
}
.invite_user_form input[type=text]:active
{
  border: 1px solid #1F97B9;
  outline: none;
}
.set_sample_category
{
  margin-top: 10px;

}
.set_sample_category ul li
{
  margin-bottom: 0;
}

.set_sample_category .selectricWrapper
{
  display: inline-block;
}
.sample_category_name
{
  float: right;
  text-transform: uppercase;
  font-size: 14px;
}
.sample_category_name .title
{
  color: #b5c0c9;
}

.opportunities table
{
  width: 100%;
  margin-top: 20px;
}

.opportunities table tr:nth-child(odd)
{
  background: #ededed;
}

.opportunities table th
{
  background: rgba(26, 188, 156, .5);
  color: white;
  padding: 10px 20px;
}
.opportunities table td
{
  padding: 20px;
}
.opportunities table td .error_label
{
  background: rgba(246,34,63, .5);
  padding: 5px;
  color: white;
  border-radius: 3px;
  /*font-weight: 700;*/
}
.opportunities table td .default_label
{
  background: #bababa;
  padding: 5px;
  color: white;
  border-radius: 3px;
  text-align: center;
  /*font-weight: 700;*/
}
.remodal .selectricWrapper
{
  width: 100%;
  margin: 20px;
}

.error_indicator
{
  width: 10px;
  height: 10px;
  display: inline-block;
  /*padding: 2px;*/
  border-radius: 50%;
  background:#F6223F;
}
.remodal h1
{
  text-align: left;
}
.keyword_list_modal
{
  width: 100%;
}
.keyword_list_modal td
{
  padding-bottom: 15px;
}
.keyword_list_modal td.actions
{
  float: right;
}

.keyword_list_modal td i
{
  /*color: #F6223F;*/
  color: #cbcbcb;
}
.keyword_list_modal td i:hover
{
  color: #F6223F;
  cursor: pointer;
}
/* ADMIN STYLES -- END */