$base_green: #4abc96;
$base_light_brown: #f9f8f7;
$footer_dark_brown: #312d2a;
$heading_dark_brown: #423c36;
$pricing_table_border_color: #e6e4e0;

h1,h2,h3,h4
{
  font-family: "jaf-facitweb",sans-serif;
  font-weight: 200;
}

body
{
  color: $heading_dark_brown;
}
