<div class="page-header">
  <h1>Keywords</h1>
</div>
<p class="lead">
  An explanation about this section comes up here. This might be shown only once or it can be shown permanently i.e. people cannot dismiss this section.
</p>


<div class="keywords">

  <ul>
    <li>
      <div class="row">
        <div class="col-md-4 bold">
          Keyword 1
        </div>
        <div class="col-md-2">
          <a href="#">Remove</a>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-md-4 bold">
          Keyword 1
        </div>
        <div class="col-md-2">
          <a href="#">Remove</a>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-md-4 bold">
          Keyword 1
        </div>
        <div class="col-md-2">
          <a href="#">Remove</a>
        </div>
      </div>
    </li>
  </ul>


</div>