<div class="page-header">
  <h1>Keywords</h1>
</div>
<p class="lead">
  An explanation about this section comes up here. This might be shown only once or it can be shown permanently i.e. people cannot dismiss this section.
</p>


<div class="keywords">

  <table>

    <% @keywords.each do |keyword| %>
      <tr>
        <td class="bold"><%= keyword.term %></td>
        <td><a href="#" class="remove_keyword" data-id="<%= keyword.id %>">Remove</a></td>
      </tr>
    <% end %>

    <% if @keywords.count < 3 %>
      <% (3 - @keywords.count).times do %>
        <tr>
          <td>
            <input type="text" placeholder="Enter keyword"/>
          </td>
          <td>
            <a href="#" class="btn btn_primary add_keyword">Add Keyword</a>
          </td>
        </tr>
      <% end %>
    <% end %>


  </table>


</div>