<div class="page-header">
  <h1>Keywords</h1>
</div>


<div class="in_app_message warning">
  <span class="bold">Keyword not working:</span> this is a test
</div>


<div class="keywords">

  <table>

    <% @keywords.each do |keyword| %>
      <tr class=<%= keyword.not_working ? "not_working" : "" %>>
        <td class="bold"><%= keyword.term %></td>
        <td><a href="#" class="remove_keyword" data-id="<%= keyword.id %>">Remove</a></td>
      </tr>
    <% end %>

    <% if @keywords.count < 3 %>
      <% (3 - @keywords.count).times do %>
        <tr>
          <td>
            <input type="text" placeholder="Enter keyword"/>
          </td>
          <td>
            <a href="#" class="btn btn_primary add_keyword">Add Keyword</a>
          </td>
        </tr>
      <% end %>
    <% end %>


  </table>


</div>
