<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <div class="grid-body no-border">
        <h3>Tweets vs <span class="semi-bold">Leads</span></h3>
        <p>
          A chart showing the number of tweets that came in vs the number of leads you got.
        </p>
        <br>
        <div id="placeholder" class="demo-placeholder" style="width:100%;height:450px;"></div>
      </div>
    </div>
  </div>
</div>
