<!-- BEGIN PAGE TITLE -->
<div class="page-title">
  <h3 class="semi-bold">New Stream</h3>
</div>
<!-- END PAGE TITLE -->


<!-- PAGE CONTENT -- START -->
<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <div class="grid-body">
        <div class="row-fluid">
          <div>
            <h3></h3>
            <%= render "form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- PAGE CONTENT -- END -->