/* COLOR SCHEME */
/* BASE GREEN: #1ABC9C */
/* CONTRAST RED: #F6223F */
/* CONTRAST BLUE: #1F97B9 */
/* CONTRAST YELLOW: #FFF323 */
/* LEFT NAV COLOR: #8b939a */
/* LEFT NAV ACTIVE COLOR: #1f2123 */
/* HEADER BACKGROUND COLOR: #2e3032 */


/* Styles go here */

body {
  padding-top: 51px;
  font-family: "proxima-nova",Arial,Helvetica Neue,Helvetica,sans-serif;
  font-size: 18px;
  font-weight: 300;
}
h1,h2,h3,h4,h5,h6
{
  font-family: "proxima-nova",Arial,Helvetica Neue,Helvetica,sans-serif;
}

h1
{
  
}

a
{
  color: #1F97B9;
}
a:hover
{
  color: #0591b9;
}

/*BUTTONS*/
.btn
{
  padding: 10px;
  width: 100%;
  color: white;
  text-transform: uppercase;
}

.btn_block
{
  display: block;
}

.btn_primary
{
  background: #1ABC9C;  
}
.btn_primary:hover
{
  color: white; 
  background: #0cbc99;
}
.btn_secondary
{
  background: #1F97B9;
}
.btn_alert
{
  background: #F6223F;
}

input[type="text"] {
  border: 1px solid #ccc;
  /*margin-bottom: 20px;*/
  padding: 10px;
}
input[type=text]:active
{
  border: 1px solid #1F97B9;
  outline: none;
}
input[type=text]:focus
{
  border: 1px solid #1F97B9;
  outline: none;
}

/*ERROR STYLING -- START*/
.error
{
  border: 1px solid #F6223F;
  background: #fee6e9;
}
/*ERROR STYLING -- END*/


/* this is only to style the sidebar - you can make the sidebar look any way you want */
.sidebar {
  padding: 20px;
  background-color: #ededed;
  border-right: 1px solid #eee;
}

.navbar
{
  background: #2e3032;
  color: white;
}

.sidebar li
{
  
}


.sidebar a
{
  color: #8b939a;
  text-transform: uppercase;
}

.sidebar a:hover
{
  color: #1f2123;
}


/*OPPORTUNITIES SECTION STYLES*/
.opportunities ul
{
  list-style: none;
  margin-top: 40px;
  padding: 0;
  
}
.opportunities ul li
{
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  padding: 10px;
}

.opportunities ul li.replying
{
  background: #eafcf8;

  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.opportunities ul li.read
{
  background: #EDEDED;
}

.opportunities ul li.read img
{
  /* Making the image for read tweets, black and white */
  /* NOTE: This will not work in IE and needs the latest browser for all others */
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.opportunities ul li img
{
  float: left;
  margin-right: 20px;
}

.bold
{
  font-weight: 600;
}

.screen_name
{
  display: block;
}
.actions
{
 
}

.opportunity_sub_items
{
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.opportunity_sub_items .title
{
  color: #b5c0c9;
}
.opportunity_sub_items .highlight
{
  color: #333;
}
.priority
{
  
}
.priority_high
{
  color: #1ABC9C;
}

.tweet_actions
{
  background: #2E3032;
  margin-top: -1px;
  color: white;
  text-align: center;
}

.tweet_actions h4
{
  margin-bottom: 20px;
}

.tweet_actions img
{
  text-align: center;
  display: block;
  color: #757a7f;
  margin: 20% auto 20px auto;
}


.tweet_actions .btn
{
  color: white;
  margin-top: 20px;
}

.tweet_actions .reply_form
{
  width: 100%;
  color: #333;
}

.tweet_actions .reply_form textarea
{
  width: 100%;
  padding: 10px;
  height: 50%;
  /*margin-top: 10px;*/
}

.tweet_actions p
{
  color: #fff;
  /*text-align: left;*/
}

.reply_sent_status_hidden
{
  display: none;
}



/* ADMIN STYLES -- START */
.lead_count_indicator_positive
{
  background: #F6223F;
  padding: 5px;
  color: white;
  margin-bottom: 20px;
}
.city
{
  float: right;
}
#invite_user
{
  float: right;
  font-size: 16px;

}
.keyword_list ul
{
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.keyword_list ul li
{
  display: inline;
  margin-right: 15px;
}
.keyword_list ul li.admin_created a
{
  color: #F6223F;
}
.invite_user_form input[type=text]
{
  border: 1px solid #ccc;
  /*border-bottom: 1px solid #ccc;*/
  /*width: 100%;*/
  margin-bottom: 20px;
  padding: 10px;
}
.invite_user_form input[type=text]:active
{
  border: 1px solid #1F97B9;
  outline: none;
}
.set_sample_category
{
  margin-top: 10px;

}
.set_sample_category ul li
{
  margin-bottom: 0;
}

.set_sample_category .selectricWrapper
{
  display: inline-block;
}
.sample_category_name
{
  float: right;
  text-transform: uppercase;
  font-size: 14px;
}
.sample_category_name .title
{
  color: #b5c0c9;
}
/* ADMIN STYLES -- END */
/* All the default sidebar styles */
/* toggle button settings */
/* Note: this disables the navbar-toggle class's hide function. set visibility with the boostrap visible/hidden classes */
/* Note: this also disables the navbar-header class positioning settings in small screens. */

.navbar.navbar-static .navbar-header {
    float: left;
}

.navbar .navbar-toggle.toggle-left {
    float: left;
    margin-left: 15px;
}

.navbar .navbar-toggle.toggle-right {
    float: right;
    margin-right: 15px;
}

.navbar .navbar-toggle.toggle-sidebar, [data-toggle="sidebar"] {
    display: block;
}

/* sidebar settings */
.sidebar {
    position: fixed;
    display: block;
    top: 51px;
    bottom: 0;
    z-index: 1000;
    min-height: 100%;
    max-height: none;
    overflow: auto;
}

.sidebar-left {
    left: 0;
}

.sidebar-right {
    right: 0;
}

/* css to override hiding the sidebar according to different screen sizes */
.row .sidebar.sidebar-left.sidebar-xs-show {
    left: 0;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}

/*right sidebar is untested */
.row .sidebar.sidebar-right.sidebar-xs-show {
    right: 0;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}

@media (min-width: 768px) {
    .row .sidebar.sidebar-left.sidebar-sm-show {
        left: 0;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }

    /*right sidebar is untested */
    .row .sidebar.sidebar-right.sidebar-sm-show {
        right: 0;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }
}

@media (min-width: 992px) {
    .row .sidebar.sidebar-left.sidebar-md-show {
        left: 0;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }

    .row .sidebar.sidebar-right.sidebar-md-show {
        right: 0;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }
}

@media (min-width: 1170px) {
    .row .sidebar.sidebar-left.sidebar-lg-show {
        left: 0;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }

    .row .sidebar.sidebar-right.sidebar-lg-show {
        right: 0;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }
}

/* animation class - optional: without it the sidebar would just pop in and out*/
.sidebar-animate {
    -webkit-transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
}

/* Left panel positioning classes */
.sidebar.sidebar-left {
    -webkit-transform: translate(-100%,0);
    -ms-transform: translate(-100%,0);
    transform: translate(-100%,0);
}

    .sidebar.sidebar-left.sidebar-open {
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }

/* TODO: TEST THIS! Right panel positioning classes*/
.sidebar.sidebar-right {
    -webkit-transform: translate(100%,0);
    -ms-transform: translate(100%,0);
    transform: translate(100%,0);
}

    .sidebar.sidebar-right.sidebar-open {
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }
/*======================================================================
 Selectric
======================================================================*/

.selectricWrapper {
 position: relative;
 margin: 0 0 10px;
 width: 300px;
 cursor: pointer;
}

.selectricResponsive {
 width: 100%;
}

.selectric {
 border: 1px solid #DDD;
 background: #F8F8F8;
 position: relative;
 border-radius: 2px;
}
.selectric .label {
 display: block;
 white-space: nowrap;
 overflow: hidden;
 margin: 0 30px 0 0;
 padding: 6px;
 font-size: 12px;
 line-height: 18px;
 color: #444;
 min-height: 18px;
}
.selectric .button {
 display: block;
 position: absolute;
 right: 0;
 top: 0;
 width: 30px;
 height: 30px;
 color: #BBB;
 text-align: center;
 font: 0/0 a;
 /* IE Fix */
 *font: 20px/30px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.selectric .button:after {
 content: " ";
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 margin: auto;
 width: 0;
 height: 0;
 border: 4px solid transparent;
 border-top-color: #BBB;
 border-bottom: none;
}

.selectricHover .selectric {
 border-color: #CCC;
}
.selectricHover .selectric .button {
 color: #888;
}
.selectricHover .selectric .button:after {
 border-top-color: #888;
}

.selectricOpen {
 z-index: 9999;
}
.selectricOpen .selectric {
 border-color: #CCC;
 background: #F0F0F0;
}
.selectricOpen .selectricItems {
 display: block;
}

.selectricDisabled {
 filter: alpha(opacity=50);
 opacity: 0.5;
 cursor: default;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.selectricHideSelect {
 position: relative;
 overflow: hidden;
 width: 0;
 height: 0;
}
.selectricHideSelect select {
 position: absolute;
 left: -100%;
 display: none;
}

.selectricInput {
 position: absolute !important;
 top: 0 !important;
 left: 0 !important;
 overflow: hidden !important;
 clip: rect(0, 0, 0, 0) !important;
 margin: 0 !important;
 padding: 0 !important;
 width: 1px !important;
 height: 1px !important;
 outline: none !important;
 border: none !important;
 *font: 0/0 a !important;
 background: none !important;
}

.selectricTempShow {
 position: absolute !important;
 visibility: hidden !important;
 display: block !important;
}

/* Items box */
.selectricItems {
 display: none;
 position: absolute;
 top: 100%;
 left: 0;
 background: #F9F9F9;
 border: 1px solid #CCC;
 z-index: -1;
 box-shadow: 0 0 10px -6px;
}
.selectricItems .selectricScroll {
 height: 100%;
 overflow: auto;
}
.selectricAbove .selectricItems {
 top: auto;
 bottom: 100%;
}
.selectricItems ul, .selectricItems li {
 list-style: none;
 padding: 0;
 margin: 0;
 font-size: 12px;
 line-height: 20px;
 min-height: 20px;
}
.selectricItems li {
 display: block;
 padding: 5px;
 border-top: 1px solid #FFF;
 border-bottom: 1px solid #EEE;
 color: #666;
 cursor: pointer;
}
.selectricItems li.selected {
 background: #EFEFEF;
 color: #444;
 border-top-color: #E0E0E0;
}
.selectricItems li:hover {
 background: #F0F0F0;
 color: #444;
}
.selectricItems li.disabled {
 background: #F5F5F5;
 color: #BBB;
 border-top-color: #FAFAFA;
 cursor: default;
}
/* line 4, /home/prashant/Documents/lead-generator-webapp/app/assets/stylesheets/dashboard/keyword.css.scss */
.keywords ul {
  list-style: none;
  padding: 0;
}
/* line 8, /home/prashant/Documents/lead-generator-webapp/app/assets/stylesheets/dashboard/keyword.css.scss */
.keywords ul li {
  margin-bottom: 10px;
}
/* line 11, /home/prashant/Documents/lead-generator-webapp/app/assets/stylesheets/dashboard/keyword.css.scss */
.keywords ul li a {
  color: #F6223F;
}
/* line 21, /home/prashant/Documents/lead-generator-webapp/app/assets/stylesheets/dashboard/keyword.css.scss */
.keywords table td {
  padding-right: 60px;
  padding-bottom: 20px;
  vertical-align: middle;
}
/* line 27, /home/prashant/Documents/lead-generator-webapp/app/assets/stylesheets/dashboard/keyword.css.scss */
.keywords table td .remove_keyword {
  color: #F6223F;
}
/*
 *  Remodal - v0.3.0
 *  Flat, responsive, lightweight, easy customizable modal window plugin with declarative state notation and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

@import url(http://fonts.googleapis.com/css?family=Exo+2:700,400&subset=latin,cyrillic);

/* ==========================================================================
   Remodal necessary styles
   ========================================================================== */

/* Hide scroll bar */

html.remodal_lock,
body.remodal_lock {
    overflow: hidden;
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
    visibility: hidden;
}

/* Overlay necessary styles */

.remodal-overlay {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    overflow: auto;

    text-align: center;

    -webkit-overflow-scrolling: touch;
}

.remodal-overlay:after {
    display: inline-block;

    height: 100%;
    margin-left: -0.05em;

    content: "";
}

/* Fix iPad, iPhone glitches */

.remodal-overlay {
    -webkit-backface-visibility: hidden;
}

/* Modal dialog necessary styles */

.remodal {
    position: relative;

    display: inline-block;
}

/* Remodal anti-zoom. Font-size should be >= 16px. */

.remodal select,
.remodal textarea,
.remodal input,
.remodal select:focus,
.remodal textarea:focus,
.remodal input:focus {
    font-size: 16px;
}

/* ==========================================================================
   Remodal default theme
   ========================================================================== */

/* Default theme font */

.remodal,
.remodal * {
    font-family: "Exo 2", sans-serif;
}

/* Background for effects */

.remodal-bg {
    -webkit-transition: -webkit-filter 0.2s linear;
    transition: filter 0.2s linear;
}

body.remodal_active .remodal-bg {
    -webkit-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
}

/* Overlay default theme styles */

.remodal-overlay {
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;

    opacity: 0;
    background: rgba(33, 36, 46, 0.95);
}

body.remodal_active .remodal-overlay {
    opacity: 1;
}

/* Modal dialog default theme styles */

.remodal {
    font-size: 16px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    padding: 35px;

    -webkit-transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);

    color: #182a3c;
    background: #f4f4f4;
    background-clip: padding-box;
    box-shadow: 0 0 8px #171a24;
}

body.remodal_active .remodal {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/* Modal dialog vertical align  */

.remodal,
.remodal-overlay:after {
    vertical-align: middle;
}

/* Close button */

.remodal-close {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 28px;
    height: 28px;

    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
    text-decoration: none;

    border: 2px solid #3e5368;
    border-radius: 50%;
}

.remodal-close:after {
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
    font-size: 28px;
    line-height: 28px;

    display: block;

    content: "×";
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-decoration: none;

    color: #3e5368;
}

.remodal-close:hover,
.remodal-close:active {
    background: #3e5368;
}

.remodal-close:hover.remodal-close:after,
.remodal-close:active.remodal-close:after {
    color: #f4f4f4;
}

/* Dialog buttons */

.remodal-confirm,
.remodal-cancel {
    font-size: 10pt;

    display: inline-block;

    width: 120px;
    margin: 0 0 5px 0;
    padding: 9px 0;

    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    background-clip: padding-box;
}

.remodal-confirm {
    color: #16a085;
    border: 2px solid #16a085;
    background: #f4f4f4;
}

.remodal-confirm:hover,
.remodal-confirm:active {
    color: #f4f4f4;
    background: #16a085;
}

.remodal-cancel {
    color: #c0392b;
    border: 2px solid #c0392b;
    background: #f4f4f4;
}

.remodal-cancel:hover,
.remodal-cancel:active {
    color: #f4f4f4;
    background: #c0392b;
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 40.063em) /* min-width 641px */ {
    .remodal {
        max-width: 700px;
        min-height: 0;
        margin: 20px auto;
        border-radius: 6px;
    }
}

/* IE8
   ========================================================================== */

html.lt-ie9,
html.lt-ie9 body {
    overflow: auto !important;

    min-height: 100%;
    margin: 0;
}

.lt-ie9 .remodal-overlay {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAQMAAAC3R49OAAAAA3NCSVQICAjb4U/gAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlMAuyogpzwAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAGHRFWHRDcmVhdGlvbiBUaW1lADA2LzEwLzIwMTSCx1nsAAAAD0lEQVQImWP4//8DAxUxACnDOpkfX95WAAAAAElFTkSuQmCC);
}

.lt-ie9 .remodal {
    width: 500px;
    min-height: auto;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *





 */

