<div class="about_container">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>About Us</h1>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>
        Founded in 2014, Urbanzeak helps restaurant owners to getaway from the clutter available on social media by finding customers for them from various social networks.

      </p>
      <p>
        After tinkering with couple of previous companies, this privately funded team based out of California spends most of their time amongst terabytes of data, mystic computational algorithms and ever-esoteric natural language processors.
      </p>
      <p>
        Just to keep it simple and easy – we just call our crazy and complex algorithmic process; our 'Secret Sauce'
      </p>

      <h3>Things we believe in</h3>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag 'small_business.png', class: 'img-responsive center-block we_believe_img' %>
          <p style="font-weight: bold">We love restaurants</p>
          <p>
            After building an online food delivery portal and a social dining concept, our third product is also focused at using technology effectively to improve sales for restaurants. We believe in the magic of  technology that helps restaurant owners.
          </p>
        </div>
        <div class="col-md-4">
          <%= image_tag 'kiss.png', class: 'img-responsive center-block we_believe_img' %>
          <p style="font-weight: bold">Keep it simple</p>
          <p>
            We like to keep everything easy, simple and effective ! We focus on one thing: to find awesome prospects for you. Don't bother too much if you are not happy with the color palette of the homepage or the font used.
          </p>
        </div>
        <div class="col-md-4">
          <%= image_tag 'love_customers.png', class: 'img-responsive center-block we_believe_img' %>
          <p style="font-weight: bold">We love our customers</p>
          <p>
            We strive to ensure every customer onboard Urbanzeak has a remarkable experience. Just call us or write to us and we will be there to help you out 24/7.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>