<div class="contact_container">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Contact Us</h1>
        <div class="row">
          <div class="col-md-6">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center=1056,+Monterery+Avenue+Berkley,+California+93940&zoom=16&scale=false&size=400x200&maptype=roadmap&sensor=false&format=png&visual_refresh=true&markers=size:mid%7Ccolor:green%7C1056,+Monterery+Avenue+Berkley,+California+93940" alt="Google Map of 1056, Monterery Avenue Berkley, California 93940" alt="" class="img-responsive"/>
          </div>
          <div class="col-md-6">
            <address>
              <strong>Urbanzeak Inc.</strong><br>
              1056, Monterery Avenue<br>
              Berkley, California 93940<br>
              <abbr title="Phone">Phone:</abbr> +1-201-895-8093<br>
              <abbr title="Email">Email:</abbr> <a href="mailto:support@urbanzeak.com">support@urbanzeak.com</a>
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>