<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 center-text">
        <h1>Restaurant sales simplified</h1>
        <h4> Urbanzeak uses its revolutionary algorithm and analyzes millions of tweets to find people near you who would be interested to dine at your restaurant</h4>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <!--<img src="header_image.png" alt="" class="img-responsive"/>-->
            <%= image_tag "header_image.png", :class => "img-responsive" %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>