<div class="container how_it_works">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h1>How it works</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 center-image">
      <%= image_tag "join_green.png", :class => "img-responsive" %>

      <h3>Join</h3>
      <p>
        Sign up for an account. It takes less than 2 mins
      </p>
    </div>
    <div class="col-md-3">
      <%= image_tag "analyze.png", :class => "img-responsive" %>
      <h3>Analyze</h3>
      <p>
        Analyze: We analyze millions of tweets everyday and find customers for you in real time. Stay away from the clutter on social media.
      </p>
    </div>
    <div class="col-md-3">
      <%= image_tag "show.png", :class => "img-responsive" %>
      <h3>Show</h3>
      <p>
        See your entire list of customers on an interactive dashboard.
      </p>
    </div>
    <div class="col-md-3">
      <%= image_tag "sell.png", :class => "img-responsive" %>
      <h3>Sell</h3>
      <p>
        Click on the user and start engaging with your customer.
      </p>
    </div>
  </div>
</div>