<div class="container how_it_works">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h1>How it works</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 center-image">
      <%= image_tag "join.png", :class => "img-responsive" %>

      <h3>Join</h3>
      <p>
        Sign up for an account in 2 minutes and start receiving leads.
      </p>
    </div>
    <div class="col-md-3">
      <%= image_tag "analyze.png", :class => "img-responsive" %>
      <h3>Analyze</h3>
      <p>
        Every minute of every day, we collect tweets and analyze it to find people in your city who are interested in your services .
      </p>
    </div>
    <div class="col-md-3">
      <%= image_tag "show.png", :class => "img-responsive" %>
      <h3>Show</h3>
      <p>
        See your entire list of prospects on an interactive dashboard.
      </p>
    </div>
    <div class="col-md-3">
      <%= image_tag "sell.png", :class => "img-responsive" %>
      <h3>Sell</h3>
      <p>
        Click on the user and start selling.
      </p>
    </div>
  </div>
</div>