<div class="meet_the_team_container">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Meet the team</h1>

        <div class="row">
          <div class="col-md-6">
            <%= image_tag "akki.png", :class => "img-responsive", :style => "margin-bottom: 30px;" %>
            <p style="font-weight: bold">
              Akhilesh Kumar - Chief Hustler
            </p>
            <p style="font-style: italic">
              The guy thirsting for the craziest sale!
            </p>
            <p>
              I am the guy who does all the talking!
            </p>
          </div>
          <div class="col-md-6">
            <%= image_tag "prashant.png", :class => "img-responsive", :style => "margin-bottom: 30px;" %>
            <p style="font-weight: bold">
              Prashant Angyan - Chief Hacker
            </p>
            <p style="font-style: italic">
              The guy who does the crazy stuff!
            </p>
            <p>
              I am the guy for whom Python is no longer a snake, Ruby is no longer a gem and Java no longer a coffee.
            </p>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Meet the investors</h1>

        <div class="row">
          <div class="col-md-6">
            <%= image_tag "ron.png", :class => "img-responsive", :style => "margin-bottom: 30px;" %>
            <p style="font-weight: bold">
              Ron Katz
            </p>
            <p>
              Ron Katz, a PhD from the University of California, Berkley is the founder and President of Netcom Data Corp., the first U.S. company to be certified by MasterCard International as an independent Member Service Provider. He has served as a ranking aide to the California State Senate, representing Silicon Valley and currently on the board of several organizations. Ron is a proud author of two patents and his articles have been published in prestigious business publications. He is currently working as a managing partner of an international lodging and tourism company which he co-founded.
            </p>
          </div>
          <div class="col-md-6">
            <%= image_tag "jules.png", :class => "img-responsive", :style => "margin-bottom: 30px;" %>
            <p style="font-weight: bold">
              Jules Kragen
            </p>
            <p>
              Jules Kragen, a J.D from Hastings college of law advises and invests in emerging businesses across a wide spectrum of industries. He has previously served as a CEO for an international coffee & organic foods distributor. Currently Jules has founded an innovative travel & experience company and is also on the board of directors for Alameda County Meals on Wheels.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>