<div class="pricing_container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Try for free</h1>
        <h4>Simple clear, no hidden fees</h4>
      </div>
    </div>
  </div>
</div>

