<div class="pricing_container">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-3">
            <h1>Pricing</h1>
          </div>
          <div class="col-md-7 lowered_text">
            Simple and free sign up!
          </div>
          <div class="col-md-2 lowered_text">
            Try for free (Button)
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

