<%= render 'navbar' %>

<div class="about_container">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Contact Us</h1>
      </div>
    </div>

  </div>
</div>

<%= render "contact_us" %>