
  <div class="row">
    <div class="col-md-6 centering text-center" style="background-color: white;padding: 20px;box-shadow: 0 0 20px #d1d8de;">
      <h1>Easiest way to sell your dance classes</h1>
      <p>
        Urbanzeak analyzes over 500 million tweets a day to find people interested in learning to dance.
      </p>
      <p style="font-weight: bold">
        How it works
      </p>
      <p>
        Urbanzeak uses a revolutionary algorithm to read tweets and determine people local to you who are genuinely interested in learning how to dance. When you sign up we'll match you with these people.
      </p>
      <br>
      <a href="/users/sign_up" class="btn btn-primary btn-cons"  type="button">Get sales leads in under 30 seconds</a>
    </div>
  </div>
