---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=UrbanZeak
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="IfbvdRkhk70qY41ytxKenzlKN", oauth_nonce="fa9b280f3a377a7367a9649e33922127",
        oauth_signature="N%2Bg4TH9ZdfnqkcDWLmxUnZ8%2FE44%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1434204490", oauth_token="2431831016-cQXzpH7eoR7iSBO2A3nb7OLWzNcPBGngAeIxlEz",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 13 Jun 2015 14:08:11 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b97746dede25cca02f2f13b2a44ee269
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1434205307'
      X-Response-Time:
      - '345'
      X-Transaction:
      - 453c4a864ed1e0ae
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Thu Jun 11 14:52:25 +0000 2015","id":609010300520689664,"id_str":"609010300520689664","text":"Do
        you know who are awesome? My 4 new followers in the last week! Growing with
        http:\/\/t.co\/jAtEHvj1L7","source":"\u003ca href=\"http:\/\/www.crowdfireapp.com\"
        rel=\"nofollow\"\u003eCrowdfire App\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2328561949,"id_str":"2328561949","name":"UrbanZeak","screen_name":"UrbanZeak","location":"Toronto","description":"Automatically
        mine conversations on Twitter to find your customers. Inviting you for a free
        trial #socialselling #leadgeneration #machinelearning","url":"http:\/\/t.co\/f0EW4zWkkN","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/f0EW4zWkkN","expanded_url":"http:\/\/www.urbanzeak.com","display_url":"urbanzeak.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":233,"friends_count":96,"listed_count":39,"created_at":"Wed
        Feb 05 10:18:36 +0000 2014","favourites_count":59,"utc_offset":19800,"time_zone":"Chennai","geo_enabled":true,"verified":false,"statuses_count":3633,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/582580039067275264\/kLxOfXNT_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/582580039067275264\/kLxOfXNT_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2328561949\/1427735017","profile_link_color":"4A913C","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/jAtEHvj1L7","expanded_url":"http:\/\/www.crowdfireapp.com\/?r=tw","display_url":"crowdfireapp.com\/?r=tw","indices":[79,101]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Thu
        Jun 04 14:52:22 +0000 2015","id":606473576124936193,"id_str":"606473576124936193","text":"Growing
        and engaging with the right tweeps - gained 10 new followers in the past week,
        courtesy http:\/\/t.co\/jAtEHvj1L7","source":"\u003ca href=\"http:\/\/www.crowdfireapp.com\"
        rel=\"nofollow\"\u003eCrowdfire App\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"[...]
