<section id="canvas-bg" class="dark-bg signup-divider">
  <div class="container">
    <div class="wrapper-lg">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-white">Start your free, no-risk, 7 day trial!</h2>
          <p class="large text-white">No credit card required. Upgrade, downgrade, or cancel anytime.</p>
          <!-- Handwritten text with arrow -->
          <p class="signup-handwritten text-white">Why wait? Start now! <br>No credit card needed</p>
        </div>
      </div>

      <div class="row">
        <!-- Signup Form -->
        <form id="signup-divider" role="form" action="">
          <!-- Notification -->
          <p class="signup-success" id="submit-success"><i class="icon icon_check_alt2"></i> <strong>Congratulation! We will send you an invite shortly!</strong></p>
          <p class="signup-failed" id="submit-error"><i class="icon icon_close_alt2"></i><strong> Something went wrong! Please try again later.</strong></p>

          <div id="errorTxt" class="signup-failed">
          </div>


          <!-- Input fields -->
          <div class="form-group">
            <input type="email" name="signup-email" id="signup-email" class="form-control input-lg" placeholder="Enter your Email-Address" required>


          </div>

          <!-- Signup Button -->
          <button class="btn btn-color">Join Today <i class="icon arrow_right"></i></button>
        </form>
      </div><!-- /End Row -->
    </div><!-- /End Wrapper -->
  </div><!-- /End Container -->
</section>