<section class="charts" id="testimonials">
  <div class="container">
    <div class="wrapper-lg">
      <div class="row">
        <div class="col-md-12">
          <h2>What people are saying about Urbanzeak</h2>

          <div class="row">
            <div class="col-md-6">
              <blockquote class="twitter-tweet" lang="en"><p>RT <a href="https://twitter.com/socialglims">@socialglims</a> <a href="https://twitter.com/UrbanZeak">@UrbanZeak</a> brilliant tool: find customers from twitter <a href="http://t.co/twPvQ5Ken0">http://t.co/twPvQ5Ken0</a> <a href="https://twitter.com/hashtag/leadgen?src=hash">#leadgen</a> <a href="http://t.co/MgbaxjZML8">pic.twitter.com/MgbaxjZML8</a></p>&mdash; RiteTag (@RiteTag) <a href="https://twitter.com/RiteTag/status/578898550840492032">March 20, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col-md-6">
              <blockquote class="twitter-tweet" lang="en"><p>Hello all. Find leads on Twitter now! <a href="http://t.co/bQAeWSfb4R">http://t.co/bQAeWSfb4R</a></p>&mdash; Virgil Vergara (@VirgilVergara) <a href="https://twitter.com/VirgilVergara/status/578653964536778752">March 19, 2015</a></blockquote>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <blockquote class="twitter-tweet" lang="en"><p>An <a href="https://twitter.com/hashtag/app?src=hash">#app</a> that will locate your <a href="https://twitter.com/hashtag/customers?src=hash">#customers</a> for you! &#10; <a href="http://t.co/QMdJzgWUIG">http://t.co/QMdJzgWUIG</a>  <a href="https://twitter.com/hashtag/marketing?src=hash">#marketing</a> <a href="https://twitter.com/hashtag/advertising?src=hash">#advertising</a> <a href="http://t.co/wao8venALX">pic.twitter.com/wao8venALX</a></p>&mdash; Sketchfolio (@sketchfolio) <a href="https://twitter.com/sketchfolio/status/559765390499545089">January 26, 2015</a></blockquote>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <div class="col-md-6">
              <blockquote class="twitter-tweet" lang="en"><p>Find leads on Twitter now! <a href="http://t.co/LcEBIfEN5B">http://t.co/LcEBIfEN5B</a></p>&mdash; Samantha Pilling (@bitememarketing) <a href="https://twitter.com/bitememarketing/status/581125063241498624">March 26, 2015</a></blockquote>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="clearfix"></div>
          </div><!-- /End Row -->

          <div class="row">
            <div class="col-md-6">
              <blockquote class="twitter-tweet" lang="en"><p>We&#39;re using <a href="https://twitter.com/UrbanZeak">@urbanzeak</a> to find possible leads on Twitter. Very handy, amazing tool! <a href="http://t.co/G9aMGRnmrh">http://t.co/G9aMGRnmrh</a></p>&mdash; Eurodress (@eurodress) <a href="https://twitter.com/eurodress/status/591418809636024320">April 24, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col-md-6"></div>
          </div>


        </div>
      </div>


    </div><!-- /End Wrapper -->
  </div><!-- /End Container -->
</section>