<section class="charts" id="testimonials">
  <div class="container">
    <div class="wrapper-lg">
      <div class="row">
        <div class="col-md-12">
          <h2>What people are saying about Urbanzeak</h2>

          <div class="row">
            <div class="col-md-6">
              <blockquote class="twitter-tweet" lang="en"><p>Find leads on Twitter now! <a href="http://t.co/LcEBIfEN5B">http://t.co/LcEBIfEN5B</a></p>&mdash; Samantha Pilling (@bitememarketing) <a href="https://twitter.com/bitememarketing/status/581125063241498624">March 26, 2015</a></blockquote>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col-md-6">
              <blockquote class="twitter-tweet" lang="en"><p>Trying out <a href="http://t.co/xcAeuDGiKz">http://t.co/xcAeuDGiKz</a>!</p>&mdash; pavansondur (@pavansondur) <a href="https://twitter.com/pavansondur/status/580141266719010816">March 23, 2015</a></blockquote>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <blockquote class="twitter-tweet" lang="en"><p>Hey <a href="https://twitter.com/UrbanZeak">@UrbanZeak</a>  look forward to checking out your new tool</p>&mdash; Rik Williams (@klokwerkboy) <a href="https://twitter.com/klokwerkboy/status/579609917297922048">March 22, 2015</a></blockquote>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <div class="col-md-6">
              <blockquote class="twitter-tweet" lang="en"><p>RT <a href="https://twitter.com/socialglims">@socialglims</a> <a href="https://twitter.com/UrbanZeak">@UrbanZeak</a> brilliant tool: find customers from twitter <a href="http://t.co/twPvQ5Ken0">http://t.co/twPvQ5Ken0</a> <a href="https://twitter.com/hashtag/leadgen?src=hash">#leadgen</a> <a href="http://t.co/MgbaxjZML8">pic.twitter.com/MgbaxjZML8</a></p>&mdash; RiteTag (@RiteTag) <a href="https://twitter.com/RiteTag/status/578898550840492032">March 20, 2015</a></blockquote>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="clearfix"></div>
          </div><!-- /End Row -->


        </div>
      </div>


    </div><!-- /End Wrapper -->
  </div><!-- /End Container -->
</section>