<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= image_tag "logo_v3.png", class: 'img-responsive' %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="primarySell">
          <h1>Get away from the clutter on twitter!</h1>
          <h4>
            Save time and reach your target audience on Twitter
          </h4>
          <a href="#footer">Start free trail now</a>


          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <%= image_tag "header_screenshot_restaurants.png", class: "img-responsive" %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="sellStatement">
        <h1>
          Save time and talk to the people that matter
        </h1>
      </div>
    </div>
  </div>
</div>


<div class="benefits">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row feature">
          <div class="col-md-6">
            <h5>Find customers</h5>
            <h3>Can you find your audience?</h3>
            <p>
              Your audience are searching for on Twitter. Finding them takes up a lot of your time, especially when you have so many other things to do. We find those people that matter so that you do not have to search for them.
            </p>
          </div>
          <div class="col-md-6">
            <%= image_tag "find_tweet.png", class: "img-responsive" %>
          </div>
        </div>




        <div class="row feature">
          <div class="col-md-6">
            <h5>Virtual Assistant</h5>
            <h3>Do you need help reading and finding leads?</h3>
            <p>
              There are thousands of tweets returned when you search on Twitter, looking through those tweets every hour of every day is hard. Lots of valuable tweets are going to fall through the cracks.
            </p>
            <p>
              Which is why our algorithm gets every tweet posted in real time and then runs it through our proprietary system that understands the meaning of each tweet and finds the people most likely to buy. Which makes it like there is a person sitting down and reading all those tweets for you.
            </p>
          </div>
          <div class="col-md-6">
            <%= image_tag "algo.png", class: "img-responsive" %>
          </div>
        </div>






      </div>
    </div>

  </div>
</div>



<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">


        <h3 class="text-center">Sign up today to be notified when we launch the app!</h3>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <!-- Begin MailChimp Signup Form -->

            <div id="mc_embed_signup">
              <form action="//urbanzeak.us8.list-manage.com/subscribe/post?u=589eee1b7d24dfc49b60166d9&amp;id=6e67a2b17b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">

                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_589eee1b7d24dfc49b60166d9_9d1aeb77d4" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
              </form>
            </div>

            <!--End mc_embed_signup-->
          </div>
        </div>



      </div>
    </div>
  </div>
</div>