---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/users/lookup.json
    body:
      encoding: UTF-8
      string: user_id=2264730672%2C2952281370%2C1202460848%2C929250926%2C2700716244%2C2201066062%2C2299376786
    headers:
      Authorization:
      - OAuth oauth_consumer_key="IfbvdRkhk70qY41ytxKenzlKN", oauth_nonce="72fdbd501da7eb18927a6aafe09c72b8",
        oauth_signature="L2StgWCBw%2FcE89BcalJ%2Bvs8NFMw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1432620914", oauth_token="2431831016-cQXzpH7eoR7iSBO2A3nb7OLWzNcPBGngAeIxlEz",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 26 May 2015 06:15:14 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 023e766eb1da7810d772caa5c088000a
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '174'
      X-Rate-Limit-Reset:
      - '1432621283'
      X-Response-Time:
      - '255'
      X-Transaction:
      - 0b0663df58cf14e5
      X-Tsa-Request-Body-Time:
      - '95'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"id":2264730672,"id_str":"2264730672","name":"Sai Chintala","screen_name":"saichintala77","location":"Hyderabad
        & Dallas","description":"Software Testing Evangelist, Blogger, Adventure Traveller,
        Movie Afficionado, Foodie, Photography and more","url":"http:\/\/t.co\/VGmkBDSh20","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/VGmkBDSh20","expanded_url":"http:\/\/www.saichintala.com","display_url":"saichintala.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":106,"friends_count":216,"listed_count":2,"created_at":"Fri
        Dec 27 18:15:45 +0000 2013","favourites_count":3,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":21,"lang":"en","status":{"created_at":"Fri
        May 22 07:09:50 +0000 2015","id":601646133467697152,"id_str":"601646133467697152","text":"@anilkm108
        @cigniti  :  Full pics and details @ http:\/\/t.co\/ZTRecrmnwo http:\/\/t.co\/WTY0jfoWRn","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":601645394003513345,"in_reply_to_status_id_str":"601645394003513345","in_reply_to_user_id":70355172,"in_reply_to_user_id_str":"70355172","in_reply_to_screen_name":"anilkm108","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"anilkm108","name":"Anil
        Kumar Mishra","id":70355172,"id_str":"70355172","indices":[0,10]},{"screen_name":"cigniti","name":"Cigniti","id":50335600,"id_str":"50335600","indices":[11,19]}],"urls":[{"url":"http:\/\/t.co\/ZTRecrmnwo","expanded_url":"http:\/\/saichintala.com\/2015\/05\/16\/conclave-in-goa\/","display_url":"saichintala.com\/2015\/05\/16\/con\u2026","indices":[48,70]}],"media":[{"id":601646131206979585,"id_str":"601646131206979585","indices":[71,93],"media_url":"http:\/\/pbs.twimg.com\/media\/CFl59_sUgAErA2-.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CFl59_sUgAErA2-.jpg","url":"http:\/\/t.co\/WTY0jfoWRn","display_url":"pic.twitter.com\/WTY0jfoWRn","expanded_url":"http:\/\/twitter.com\/saichintala77\/status\/601646133467697152\/photo\/1","type":"photo","sizes":{"medium":{"w":600,"h":399,"resize":"fit"},"small":{"w":340,"h":226,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1024,"h":682,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/468687730256269312\/SApBlTzW_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/468687730256269312\/SApBlTzW_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},{"id":2952281370,"id_str":"2952281370","name":"Chris","screen_name":"Chris07370739","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":5,"friends_count":85,"listed_count":0,"created_at":"Tue
        Dec 30 16:11:36 +0000 2014","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1,"lang":"en","status":{"created_at":"Wed
        Dec 31 07:59:17 +0000 2014","id":5501994[...]
