// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users_table
{
  ul
  {
    list-style: none;
    padding-left: 0;
    li
    {
      margin-bottom: 10px;
    }
  }
}


.user_list
{
  background: #ffffff;
  border: 1px solid #dddddd;
  color: #6f7b8a;

  h3
  {
    margin: 0 -15px 10px -15px;
    padding: 10px;
    color: white;

  }
  ul
  {
    padding: 0;
    list-style: none;

    li
    {
      padding: 10px 0;
    }
  }
}