// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users_table
{
  ul
  {
    list-style: none;
    padding-left: 0;
    li
    {
      margin-bottom: 10px;
    }
  }
}


.user_list
{
  background: #ffffff;
  border: 1px solid #dddddd;
  color: #6f7b8a;

  h3
  {
    margin: 0 -15px 5px -15px;
    padding: 10px;
    color: white;

  }
  ul
  {
    padding: 0;
    list-style: none;
    color: #636b6d;

    li
    {
      margin: 0 -15px;
      padding: 10px;
      border-bottom: 1px solid #dddddd;
      border-right: 5px solid white;

      img
      {
        margin-right: 10px;
      }
      .indicators
      {
        display: inline-block;
        float: right;
        margin-top: 5px;
        margin-right: 5px;
        .danger-indicator
        {
          width: 10px;
          height: 10px;
          background: #F35958;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          display: inline-block;
        }
        .warning-indicator
        {
          width: 10px;
          height: 10px;
          background: #FDD01C;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          display: inline-block;
        }
        .label
        {
          margin-right: 5px;
        }
      }

    }
    li.selected
    {
      border-right: 5px solid #0AA699;
    }
    li:last-child {
      border-bottom: none;
    }
  }
}

.user_info
{
  background: #ffffff;
  border: 1px solid #dddddd;
  color: #6f7b8a;
  padding-bottom: 10px;

  table
  {
    margin-top: 20px;
  }
}