<div class="page-title" data-intro='Hello step one!' data-step="1">
  <h3><span class="semi-bold">Account</span> Details</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <div class="grid-body no-border">
        <h3><span class="semi-bold">Subscription</span> Details</h3>
        <p>
          A chart showing the number of tweets that came in vs the number of leads you got.
        </p>
        <br>
        This is atest
      </div>
    </div>
  </div>
</div>

