<!-- BEGIN PAGE TITLE -->
<div class="page-title">
  <h3 class="semi-bold">Plans</h3>
</div>
<!-- END PAGE TITLE -->

<div class="p-t-10">
  <div class="row m-t-20 m-b-40">
    <div class="col-md-4 m-b-40">
      <div class="pricing-holder ">
        <div class="inner">
          <div class="title">
            Basic - <span class="price">$49</span>
          </div>
          <p class="desc">1 Lead Stream with upto 3 keywords and 1 city</p>
          <ul class="items">
            <li class="available">
              <div class="icon-holder">
                <i class="fa fa-check text-success "></i>
              </div>
              <div class="desc">
                <span class="text-black">Use in a single end product</span>
                <br>
                <span class="muted">(single application)</span>
              </div>
            </li>
            <li class="available">
              <div class="icon-holder">
                <i class="fa fa-check text-success "></i>
              </div>
              <div class="desc">
                <span class="text-black">Use in a free end product</span>
                <br>
                <span class="muted">(more than one end user allowed)</span><br>
                <span class="muted">(sale to one allowed client)</span>
              </div>
            </li>
            <li>
              <div class="icon-holder">
                <i class="fa fa-times text-error "></i>
              </div>
              <div class="desc">
                <span class="text-black">Use in a end product that's sold</span>
                <br>
                <span class="muted">(more than one end user allowed)</span>
              </div>
            </li>
            <li>
              <div class="icon-holder">
                <i class="fa fa-times text-error "></i>
              </div>
              <div class="desc">
                <span class="text-black">Use in multiple end products</span>
                <br>
                <span class="muted">(or multi-domain)</span>
              </div>
            </li>
          </ul>
          <button class="btn btn-block btn-danger" type="button">Subscribe</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 m-b-30">
      <div class="pricing-holder highlighted">
        <div class="inner">
          <div class="title">
            Pro - <span class="price">$100</span>
          </div>
          <p class="desc">3 Lead Streams with upto 3 keywords and 1 city each</p>
          <ul class="items">
            <li class="available">
              <div class="icon-holder">
                <i class="fa fa-check text-success "></i>
              </div>
              <div class="desc">
                <span class="text-black">Use in a single end product</span>
                <br>
                <span class="muted">(single application)</span>
              </div>
            </li>
            <li class="available">
              <div class="icon-holder">
                <i class="fa fa-check text-success "></i>
              </div>
              <div class="desc">
                <span class="text-black">Use in a free end product</span>
                <br>
                <span class="muted">(more than one end user allowed)</span><br>
                <span class="muted">(sale to one allowed client)</span>
              </div>
            </li>
            <li class="available">
              <div class="icon-holder">
                <i class="fa fa-check text-success "></i>
              </div>
              <div class="desc">
                <span class="text-black">Use in a end product that's sold</span>
                <br>
                <span class="muted">(more than one end user allowed)</span>
              </div>
            </li>
            <li>
              <div class="icon-holder">
                <i class="fa fa-times text-error "></i>
              </div>
              <div class="desc">
                <span class="text-black">Use in multiple end products</span>
                <br>
                <span class="muted">(or multi-domain)</span>
              </div>
            </li>
          </ul>
          <button class="btn btn-block btn-primary" type="button">Subscribe</button>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>