<!-- BEGIN PAGE TITLE -->
<div class="page-title">
  <h3 class="semi-bold">Plans</h3>
</div>
<!-- END PAGE TITLE -->

<div class="p-t-10">
  <div class="row m-t-20 m-b-40">
    <div class="col-md-4 m-b-40">
      <div class="pricing-holder ">
        <div class="inner">
          <div class="title">
            Basic - <span class="price">$49/month</span>
          </div>
          <p class="desc">For businesses catering to a global audience. 1 Lead Stream with upto 3 keywords.</p>
          <ul class="items">
            <li class="available">
              <div class="icon-holder">
                <i class="fa fa-check text-success "></i>
              </div>
              <div class="desc">
                <span class="text-black">1 Lead Stream</span>
              </div>
            </li>
            <li class="available">
              <div class="icon-holder">
                <i class="fa fa-check text-success "></i>
              </div>
              <div class="desc">
                <span class="text-black">Global Leads</span>
              </div>
            </li>
            <li class="available">
              <div class="icon-holder">
                <i class="fa fa-check text-success "></i>
              </div>
              <div class="desc">
                <span class="text-black">Lead Engagement</span>
              </div>
            </li>

          </ul>
          <!--<button class="btn btn-block btn-danger" type="button">Subscribe</button>-->
          <a href="https://urbanzeak.recurly.com/subscribe/basic" class="btn btn-block btn-warning">Subscribe</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 m-b-30">
      <div class="pricing-holder highlighted">
        <div class="inner">
          <div class="title">
            Pro - <span class="price">$100/month</span>
          </div>
          <p class="desc">For businesses catering to a country specific. 1 Lead Stream with upto 3 keywords and 1 country.</p>
          <ul class="items">
            <li class="available">
              <div class="icon-holder">
                <i class="fa fa-check text-success "></i>
              </div>
              <div class="desc">
                <span class="text-black">1 Lead Stream</span>
              </div>
            </li>
            <li class="available">
              <div class="icon-holder">
                <i class="fa fa-check text-success "></i>
              </div>
              <div class="desc">
                <span class="text-black">Country Specific Leads</span>
              </div>
            </li>
            <li class="available">
              <div class="icon-holder">
                <i class="fa fa-check text-success "></i>
              </div>
              <div class="desc">
                <span class="text-black">Lead Engagement</span>
              </div>
            </li>
          </ul>
          <!--<button class="btn btn-block btn-primary" type="button">Subscribe</button>-->
          <a href="https://urbanzeak.recurly.com/subscribe/pro" class="btn btn-block btn-primary">Subscribe</a>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>