/* All the default sidebar styles */
/* toggle button settings */
/* Note: this disables the navbar-toggle class's hide function. set visibility with the boostrap visible/hidden classes */
/* Note: this also disables the navbar-header class positioning settings in small screens. */

.navbar.navbar-static .navbar-header {
  float: left;
}

.navbar .navbar-toggle.toggle-left {
  float: left;
  margin-left: 15px;
}

.navbar .navbar-toggle.toggle-right {
  float: right;
  margin-right: 15px;
}

.navbar .navbar-toggle.toggle-sidebar, [data-toggle="sidebar"] {
  display: block;
}

/* sidebar settings */
.sidebar {
  position: fixed;
  display: block;
  top: 51px;
  bottom: 0;
  z-index: 1000;
  min-height: 100%;
  max-height: none;
  overflow: auto;
}

.sidebar-left {
  left: 0;
}

.sidebar-right {
  right: 0;
}

/* css to override hiding the sidebar according to different screen sizes */
.row .sidebar.sidebar-left.sidebar-xs-show {
  left: 0;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
}

/*right sidebar is untested */
.row .sidebar.sidebar-right.sidebar-xs-show {
  right: 0;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
}

@media (min-width: 768px) {
  .row .sidebar.sidebar-left.sidebar-sm-show {
    left: 0;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }

  /*right sidebar is untested */
  .row .sidebar.sidebar-right.sidebar-sm-show {
    right: 0;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }
}

@media (min-width: 992px) {
  .row .sidebar.sidebar-left.sidebar-md-show {
    left: 0;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }

  .row .sidebar.sidebar-right.sidebar-md-show {
    right: 0;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }
}

@media (min-width: 1170px) {
  .row .sidebar.sidebar-left.sidebar-lg-show {
    left: 0;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }

  .row .sidebar.sidebar-right.sidebar-lg-show {
    right: 0;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }
}

/* animation class - optional: without it the sidebar would just pop in and out*/
.sidebar-animate {
  -webkit-transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
}

/* Left panel positioning classes */
.sidebar.sidebar-left {
  -webkit-transform: translate(-100%,0);
  -ms-transform: translate(-100%,0);
  transform: translate(-100%,0);
}

.sidebar.sidebar-left.sidebar-open {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
}

/* TODO: TEST THIS! Right panel positioning classes*/
.sidebar.sidebar-right {
  -webkit-transform: translate(100%,0);
  -ms-transform: translate(100%,0);
  transform: translate(100%,0);
}

.sidebar.sidebar-right.sidebar-open {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
}
/* line 6, /home/prashant/Documents/lead-generator-webapp/app/assets/stylesheets/user_guides/user_guides.css.scss */
body {
  font-family: "proxima-nova",Arial,Helvetica Neue,Helvetica,sans-serif;
  font-size: 16px;
  font-weight: 300;
}

/* line 13, /home/prashant/Documents/lead-generator-webapp/app/assets/stylesheets/user_guides/user_guides.css.scss */
.all {
  background: #EDEDED;
}

/* line 18, /home/prashant/Documents/lead-generator-webapp/app/assets/stylesheets/user_guides/user_guides.css.scss */
.sidebar {
  top: 0;
}

/* line 23, /home/prashant/Documents/lead-generator-webapp/app/assets/stylesheets/user_guides/user_guides.css.scss */
.sidebar-left {
  background: #404853;
}
/* line 27, /home/prashant/Documents/lead-generator-webapp/app/assets/stylesheets/user_guides/user_guides.css.scss */
.sidebar-left .main_heading {
  margin-top: 40%;
  color: white;
}
/* line 31, /home/prashant/Documents/lead-generator-webapp/app/assets/stylesheets/user_guides/user_guides.css.scss */
.sidebar-left .main_heading h1 {
  text-align: center;
  font-weight: 700;
}
/* line 36, /home/prashant/Documents/lead-generator-webapp/app/assets/stylesheets/user_guides/user_guides.css.scss */
.sidebar-left .main_heading h4 {
  font-weight: 500;
  text-align: center;
}

/* line 45, /home/prashant/Documents/lead-generator-webapp/app/assets/stylesheets/user_guides/user_guides.css.scss */
.summary_link {
  margin-top: 60px;
  background: white;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
}

/* line 54, /home/prashant/Documents/lead-generator-webapp/app/assets/stylesheets/user_guides/user_guides.css.scss */
.guide_content {
  margin-top: 60px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

