<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= image_tag "logo_v3.png", class: 'img-responsive' %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="primarySell">
          <h1>Make a sale on Twitter today</h1>
          <h4>Cut through the clutter on Twitter and find people that matter to your business</h4>
          <a href="#">Start free trail now</a>


          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <%= image_tag "header_screenshot.png", class: "img-responsive" %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>