<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= image_tag "logo_v3.png", class: 'img-responsive' %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="primarySell">
          <h1>Make a sale on Twitter today</h1>
          <h4>
            Find people on Twitter looking to eat right now
          </h4>
          <a href="#">Start free trail now</a>


          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <%= image_tag "header_screenshot.png", class: "img-responsive" %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="sellStatement">
        <h1>
          Cut through the clutter on Twitter
        </h1>
      </div>
    </div>
  </div>
</div>


<div class="benefits">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row feature">
          <div class="col-md-6">
            <h5>Find customers</h5>
            <h3>Can you find your customers?</h3>
            <p>
              Your customers are searching for places to eat right now on Twitter. Finding them takes up a lot of your time, especially when you have so many other things to do. We find those people that matter so that you do not have to search for them.
            </p>
          </div>
          <div class="col-md-6">
            <%= image_tag "find_tweet.png", class: "img-responsive" %>
          </div>
        </div>




        <div class="row feature">
          <div class="col-md-6">
            <h5>Virtual Assistant</h5>
            <h3>Do you need help reading and finding leads?</h3>
            <p>
              There are thousands of tweets returned when you search on Twitter, looking through those tweets every hour of every day is hard. Lots of valuable tweets are going to fall through the cracks.
            </p>
            <p>
              Which is why our algorithm gets every tweet posted in real time and then runs it through our proprietary system that understands the meaning of each tweet and finds the people most likely to buy. Which makes it like there is a person sitting down and reading all those tweets for you.
            </p>
          </div>
          <div class="col-md-6">
            <%= image_tag "algo.png", class: "img-responsive" %>
          </div>
        </div>






      </div>
    </div>

  </div>
</div>
