<div class="row">
  <div class="col-md-6">
    <div class="summary_link">
      <h4>
        <a href="#">Selecting Keywords</a>
      </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque mauris placerat sapien scelerisque, nec sodales leo tristique.
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="summary_link">
      <h4>
        <a href="#">Sending Replies</a>
      </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque mauris placerat sapien scelerisque, nec sodales leo tristique.
      </p>
    </div>
  </div>
</div>
