<div class="guide_content">
  <h1>Selecting Keywords</h1>
</div>

<p style="font-style: italic">
  It all begins with the words your customers use to talk about your product or service.
</p>

<p style="font-style: italic">
  It is all about finding the right people for your product, people that are closest to buying your product.
</p>



<h3>Here are 5 tips to finding great keywords</h3>


<h4>Select a list of topics</h4>

<p>
  Before you begin deciding on keywords first select topics that are related to your business. These topics might relate directly to your business or might be related to a competing product or service
</p>

<p>
  For example if you are selling "pens" you might want to add "pencils" as a topic
</p>


<h4>Think like your customers</h4>

<p>
  Select words that your customers would use. You can use the topics you have listed above to create a bucket of keywords that relate to how your customers refer to your products This also includes misspellings that they commonly use.
</p>


<h4>Category keywords vs niche keywords</h4>

<p>
  You can use keywords either related to your business at the highest level, for example if you are a restaurant you can use a words like "food", "eating out" etc as category keywords. These keywords will return a large set of results, but they might not be very accurate.
</p>

<p>
  On the other hand you can select keywords are are more niche and specifically relate to your business for example if you are a Japanese restaurant you can use words like "sushi", "teppanyaki" etc. These keywords might give you a smaller set of results but they are more targeted leads.
</p>

<p>
  It is important to choose a mix of general and niche keywords to ensure that you have a viable mix of leads.
</p>


<h4>Using terms instead of just single words</h4>

<p>
  You can use a set of words instead of a single word to get more accurate results. For example if you are a real estate agency, you can use "looking for apartment" as a keyword rather than just "apartment" this will ensure people that have talked about all the three words in your keyword appear in your leads.
</p>
