<div>


  <!-- BEGIN PAGE TITLE -->
  <div class="page-title">
    <h3 class="semi-bold">
      Unprocessed Tweets
    </h3>

  </div>
  <!-- END PAGE TITLE -->

  <div class="row" ng-controller="UserCtrl">
    <div class="col-md-12">
      <div class="grid simple">
        <div class="grid-body">
          <h3></h3>

          <%= @unprocessed_tweets.inspect %>

        </div>
      </div>

    </div>
  </div>




</div>