<div>


  <!-- BEGIN PAGE TITLE -->
  <div class="page-title">
    <h3 class="semi-bold">
      Unprocessed Tweets
    </h3>

  </div>
  <!-- END PAGE TITLE -->

  <div class="row" ng-controller="UserCtrl">
    <div class="col-md-12">
      <div class="grid simple">
        <div class="grid-body">
          <h3></h3>

          <table class="table">
            <tbody>

            <tr>
              <% @unprocessed_tweets_by_day_for_fortnight.each do |day, unprocessed_tweets| %>
                <td>
                  <%= day %>
                  =
                  <%= unprocessed_tweets.count %>
                </td>
              <% end %>
            </tr>

            </tbody>
          </table>



        </div>
      </div>

    </div>
  </div>




</div>