<div class="row">
  <div class="col-md-12">
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type %> fade in">
        <!--<button class="close" data-dismiss="alert">×</button>-->
        <%= message %>
      </div>
    <% end %>
  </div>
</div>


<div class="page-title">
  <h3> <span class="semi-bold">Twitter accounts integrated</span></h3>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="grid simple ">

      <div class="grid-body ">
        <% @tokens.each do |token| %>
          <div class="row" style="margin-bottom: 10px; padding: 10px; border-bottom: 1px solid #f6f5f5">
            <div class="col-md-1">
              <i class="fa fa-twitter" style="font-size: 36px; color: #00ade1"></i>
            </div>
            <div class="col-md-6">
              <span class="bold">@<%= token.screen_name %></span>
            </div>
            <div class="col-md-5">
              <span class="pull-right"><span class="label label-success">CONNECTED</span></span>
            </div>
          </div>
        <% end %>
        <a href="/auth/twitter" class="btn btn-success btn-cons" style="margin-top: 10px;">Integrate with Twitter</a>
      </div>
    </div>
  </div>
</div>

