.header
{
  background: none repeat scroll 0% 0% #1ABC9C;
  color: white;
  padding-top: 10px;

  .primarySell
  {
    text-align: center;

    h1
    {
      font: "proxima-nova", sans-serif;
      margin-top: 60px;
    }
  }
}