<div ng-app="adminApp">



  <!-- BEGIN PAGE TITLE -->
  <div class="page-title">
    <h3 class="semi-bold">
      Keywords
    </h3>

  </div>
  <!-- END PAGE TITLE -->

  <div class="row" ng-controller="KeywordCtrl">
    <div class="col-md-12">
      <div class="grid simple">
        <div class="grid-body">
          <h3></h3>

          <input placeholder="Search by email" type="text" value="" ng-model="query">

          <div class="checkbox check-success" style="display: inline-block">
            <input id="checkbox2" value="1" checked="" type="checkbox" ng-model="showActive">
            <label for="checkbox2">Active Keywords {{showActive}}</label>
          </div>



          <table class="table table-condensed m-t-30" id="example">
            <thead>
            <tr>
              <th style="width:11%">Email</th>
              <th style="width:10%">City</th>
              <th style="width:10%">Term</th>
              <th style="width:10%">Last Result Count</th>
              <th style="width:10%">Last Duplicate Count</th>
              <th style="width:10%">Last Run</th>
              <th style="width:10%">Last Searched</th>
              <th style="width:5%">Active</th>
            </tr>
            </thead>
            <tbody>


            <tr ng-repeat="keyword in keywords | filter: query | filter:{is_active:showActive}" >
              <td> {{ keyword.email }} </td>
              <td> {{ keyword.city }} </td>
              <td> {{ keyword.term }} </td>
              <td> {{ keyword.last_result_count }} </td>
              <td> {{ keyword.last_duplicate_count }} </td>
              <td> {{ keyword.human_last_run }} </td>
              <td> {{ keyword.human_last_searched }} </td>
              <td>
                <span ng-if="keyword.is_active" class="label label-info">Active</span>
              </td>
            </tr>
            </tbody>
          </table>




        </div>
      </div>

    </div>
  </div>




</div>