<div ng-app="adminApp">



  <!-- BEGIN PAGE TITLE -->
  <div class="page-title">
    <h3 class="semi-bold">
      Users
    </h3>

  </div>
  <!-- END PAGE TITLE -->

  <div class="row" ng-controller="UserCtrl">
    <div class="col-md-12">
      <div class="grid simple">
        <div class="grid-body">
          <h3></h3>

          <input placeholder="Search by email" type="text" value="" ng-model="query">

          <div class="checkbox check-success" style="display: inline-block">
            <input id="checkbox2" value="1" checked="" type="checkbox" ng-model="showActive">
            <label for="checkbox2">Active Users {{showActive}}</label>
          </div>

          <table class="table table-condensed m-t-30" id="example">
            <thead>
            <tr>
              <th style="width:11%">Email</th>
              <th style="width:10%">Status</th>
              <th style="width:10%">Type</th>
              <th style="width:10%">Days Remaining</th>
              <th style="width:10%">Tweets Today</th>
            </tr>
            </thead>
            <tbody>


            <tr ng-repeat="user in users | filter: query | filter:{active:showActive}">
              <td>
                {{ user.email }}
                <span class="badge badge-warning" ng-if="user.lead_stream_setup_incomplete">S</span>
                <span class="badge badge-important" ng-if="user.token_setup_incomplete">T</span>
              </td>
              <td>
                <span ng-if="user.active" class="label label-info">Active</span>
                <span ng-if="user.in_active" class="label">In Active</span>
              </td>
              <td>
                <span ng-if="user.subscribed" class="label label-success">Subscribed</span>
                <span ng-if="user.on_trial" class="label">Trial</span>
              </td>
              <td>
                <span ng-if="user.on_trial">{{ user.trial_remaining }}</span>
              </td>
              <td>{{ user.new_tweets_today }}</td>
            </tr>




            </tbody>
          </table>




        </div>
      </div>

    </div>
  </div>




</div>