<div class="page-header">
  <h1>
    Users
    <span id="invite_user">
      <a href="#" class="btn btn_secondary">
        <i class="fa fa-plus" style="margin-right: 5px; "></i>
        Invite User
      </a>
    </span>
  </h1>

</div>


<div class="invite_user_form">

  <%= form_for User.new, :url => user_invitation_path, :html => {:method => :post} do |f| %>
    <%# devise_error_messages! %>

    <%= f.text_field :email, placeholder: "Email of user to invite" %>
    <%= f.submit "Invite User", class: "btn btn_secondary", style: "width: inherit;" %>
  <% end %>

</div>


<div class="opportunities">
  <ul>
    <li>
      <div class="row">
        <div class="col-md-12">
          <div class="tweet">
            <span class="bold screen_name" style="margin-bottom: 10px;">
              somename@name.com
              <span style="margin-left: 20px;" class="lead_count_indicator_positive">10</span>
            </span>
            <span class="opportunity_sub_items">
              <span class="title" style="">Keyword</span> <span class="highlight"><a href="#">Sushi</a></span>
              <span class="title" style="margin-left: 20px;">Keyword</span> <span class="highlight"><a href="#">Japanese</a></span>
              <span class="title" style="margin-left: 20px;">Keyword</span> <span class="highlight"><a href="#">Wasabi</a></span>
              <span class="city"><span class="title">City</span> <span class="highlight">New York</span></span>
            </span>
          </div>
        </div>
      </div>
    </li>



    <li>
      <div class="row">
        <div class="col-md-12">
          <div class="tweet">
            <span class="bold screen_name" style="margin-bottom: 10px;">
              somename@name.com
              <span style="margin-left: 20px;" class="lead_count_indicator_positive">10</span>
            </span>
            <span class="opportunity_sub_items">
              <span class="title" style="">Keyword</span> <span class="highlight"><a href="#">Sushi</a></span>
              <span class="title" style="margin-left: 20px;">Keyword</span> <span class="highlight"><a href="#">Japanese</a></span>
              <span class="title" style="margin-left: 20px;">Keyword</span> <span class="highlight"><a href="#">Wasabi</a></span>
              <span class="city"><span class="title">City</span> <span class="highlight">New York</span></span>
            </span>
          </div>
        </div>
      </div>
    </li>







    <li>
      <div class="row">
        <div class="col-md-12">
          <div class="tweet">
            <span class="bold screen_name" style="margin-bottom: 10px;">
              somename@name.com
              <span style="margin-left: 20px;" class="lead_count_indicator_positive">10</span>
            </span>
            <span class="opportunity_sub_items">
              <span class="title" style="">Keyword</span> <span class="highlight"><a href="#">Sushi</a></span>
              <span class="title" style="margin-left: 20px;">Keyword</span> <span class="highlight"><a href="#">Japanese</a></span>
              <span class="title" style="margin-left: 20px;">Keyword</span> <span class="highlight"><a href="#">Wasabi</a></span>
              <span class="city"><span class="title">City</span> <span class="highlight">New York</span></span>
            </span>
          </div>
        </div>
      </div>
    </li>






    <li>
      <div class="row">
        <div class="col-md-12">
          <div class="tweet">
            <span class="bold screen_name" style="margin-bottom: 10px;">
              somename@name.com
              <span style="margin-left: 20px;" class="lead_count_indicator_positive">10</span>
            </span>
            <span class="opportunity_sub_items">
              <span class="title" style="">Keyword</span> <span class="highlight"><a href="#">Sushi</a></span>
              <span class="title" style="margin-left: 20px;">Keyword</span> <span class="highlight"><a href="#">Japanese</a></span>
              <span class="title" style="margin-left: 20px;">Keyword</span> <span class="highlight"><a href="#">Wasabi</a></span>
              <span class="city"><span class="title">City</span> <span class="highlight">New York</span></span>
            </span>
          </div>
        </div>
      </div>
    </li>

















  </ul>
</div>