<div class="page-header">
  <h1>Users</h1>
</div>

<div class="opportunities">
  <ul>
    <li>
      <div class="row">
        <div class="col-md-12">
          <div class="tweet">
            <span class="bold screen_name"><a href="#">somename@name.com</a></span>
            <span class="opportunity_sub_items">
              <span class="title">Priority</span> <span class="priority priority_high">High</span>
              <span class="title" style="margin-left: 20px;">Posted On</span> <span class="highlight">24/10/2014</span>
            </span>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div class="row">
        <div class="col-md-12">
          <div class="tweet">
            <span class="bold screen_name"><a href="#">somename@name.com</a></span>
            <span class="opportunity_sub_items">
              <span class="title">Priority</span> <span class="priority priority_high">High</span>
              <span class="title" style="margin-left: 20px;">Posted On</span> <span class="highlight">24/10/2014</span>
            </span>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div class="row">
        <div class="col-md-12">
          <div class="tweet">
            <span class="bold screen_name"><a href="#">somename@name.com</a></span>
            <span class="opportunity_sub_items">
              <span class="title">Priority</span> <span class="priority priority_high">High</span>
              <span class="title" style="margin-left: 20px;">Posted On</span> <span class="highlight">24/10/2014</span>
            </span>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div class="row">
        <div class="col-md-12">
          <div class="tweet">
            <span class="bold screen_name"><a href="#">somename@name.com</a></span>
            <span class="opportunity_sub_items">
              <span class="title">Priority</span> <span class="priority priority_high">High</span>
              <span class="title" style="margin-left: 20px;">Posted On</span> <span class="highlight">24/10/2014</span>
            </span>
          </div>
        </div>
      </div>
    </li>





  </ul>
</div>