<div class="page-header">
  <h1>
    Unchecked Tweets - Sushi
    <span style="color: red;">- TBD: This is showing the results for all the unchecked tweets, need to show only the ones for this keyword</span>
  </h1>
</div>

<div class="opportunities">
  <ul>

    <% @unprocessed_tweets.each do |unprocessed_tweet| %>
      <li>
        <div class="row">
          <div class="col-md-7">
            <div class="tweet">
              <%= unprocessed_tweet.tweet_body %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="actions">
              <a href="#" class="btn btn_primary btn_block is_lead" data-id="<%= unprocessed_tweet.id %>" data-is-lead="true">Lead</a>
              <a href="#" class="btn btn_alert btn_block is_lead" style="margin-top: 10px;" data-id="<%= unprocessed_tweet.id %>" data-is-lead="false">Not lead</a>
            </div>
          </div>
        </div>
      </li>
    <% end %>



  </ul>
</div>