<div class="page-header">
  <h1>Lead Stream for <span class="bold"><%= @user.email %></span></h1>
</div>

<div class="opportunities">
  <ul>

    <% @leads.each do |lead| %>
      <li>
        <div class="row">
          <div class="col-md-1">
            <img src="<%= lead.poster_profile_image_url %>" alt="" class="img-responsive">
          </div>
          <div class="col-md-9">
            <div class="tweet">
              <span class="bold screen_name"><a href="#">@walter_white</a></span>
              There are several reasons why one should prefer LaTeX to a WYSIWYG word processor like Microsoft Word: portability, lightness, security are just a few of them (not to mention that LaTeX is free).
            </div>
          </div>
          <div class="col-md-2">
            <div class="actions">
              <a href="#" class="btn btn_primary btn_block" class="navbar-toggle toggle-right" data-toggle="sidebar" data-target=".sidebar-right">Reply</a>
              <a href="#" class="btn btn_alert btn_block" style="margin-top: 10px;">Not a lead</a>
            </div>
          </div>
        </div>
        <div class="row opportunity_sub_items">
          <div class="col-md-10 col-md-offset-1">
            <span class="title">Priority</span> <span class="priority priority_high">High</span>
            <span class="title" style="margin-left: 20px;">Posted On</span> <span class="highlight">24/10/2014</span>
          </div>
        </div>
      </li>
    <% end %>



  </ul>
</div>