<div class="page_heading_container">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Setup</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      Before you can get started finding leads, we need your twitter account.
      <div class="connect_twitter">
        <%= image_tag "twitter_integration.png" %>
        <a href="/auth/twitter" class="green-flat-button">Authorize Twitter</a>
      </div>
    </div>
  </div>
</div>