<table class="table table-hover table-condensed" id="example">
  <thead>
  <tr>
    <th style="width:10%">Twitter User</th>
    <th style="width:38%" data-hide="phone,tablet">Tweet</th>
  </tr>
  </thead>
  <tbody>

  <% @leads.each do |lead| %>
      <tr>
        <% lead_to_show = Lead.find(lead.lead_id)  %>
        <td class="v-align-middle"><a href="<%= lead_to_show.profile_url %>"><%= lead_to_show.screen_name %></a></td>
        <td class="v-align-middle"><span class="muted"><%= lead_to_show.tweet %></span></td>
      </tr>
  <% end %>

  </tbody>
</table>