<table class="table table-hover table-condensed" id="example">
  <thead>
  <tr>
    <th style="width:1%"><div class="checkbox check-default" style="margin-right:auto;margin-left:auto;">
      <input type="checkbox" value="1" id="checkbox1">
      <label for="checkbox1"></label>
    </div></th>
    <th style="width:10%">Twitter User</th>
    <th style="width:38%" data-hide="phone,tablet">Tweet</th>
  </tr>
  </thead>
  <tbody>
  <tr >
    <td class="v-align-middle"><div class="checkbox check-default">
      <input type="checkbox" value="3" id="checkbox2">
      <label for="checkbox2"></label>
    </div></td>
    <td class="v-align-middle">Early Bird</td>
    <td class="v-align-middle"><span class="muted">Redesign project template</span></td>
  </tr>
  <tr>
    <td><div class="checkbox check-default">
      <input type="checkbox" value="3" id="checkbox3">
      <label for="checkbox3"></label>
    </div></td>
    <td>Angry Birds&nbsp;&nbsp;&nbsp;<span class="label label-important">ALERT!</span></td>
    <td><span class="muted">Something goes here</span></td>
  </tr>
  </tbody>
</table>