<div class="page-title"> <i class="icon-custom-left"></i>
  <h3>Leads</h3>
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="grid simple ">
      <div class="grid-body ">
        <%= render 'leads' %>
      </div>
    </div>
  </div>
</div>