<div class="page-title">
  <h3>Leads - <span class="semi-bold">Stream name</span></h3>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="grid simple ">

      <div class="grid-body ">
        <table class="table table-hover table-condensed" id="example">
          <thead>
          <tr>
            <th style="width:1%"><div class="checkbox check-default" style="margin-right:auto;margin-left:auto;">
              <input type="checkbox" value="1" id="checkbox1">
              <label for="checkbox1"></label>
            </div></th>
            <th style="width:10%">Screen Name</th>
            <th style="width:22%" data-hide="phone,tablet">Tweet</th>
            <th style="width:6%">Date Added</th>
            <th style="width:10%" data-hide="phone,tablet">Progress</th>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td class="v-align-middle"><div class="checkbox check-default">
              <input type="checkbox" value="1" id="checkbox2" class="tweet_checkbox">
              <label for="checkbox2"></label>
            </div></td>
            <td class="v-align-middle">Early Bird</td>
            <td class="v-align-middle"><span class="muted">Redesign project template</span></td>
            <td><span class="muted">$4,500</span></td>
            <td class="v-align-middle"><div class="progress ">
              <div data-percentage="80%"  class="progress-bar progress-bar-success animate-progress-bar"></div>
            </div></td>
          </tr>
          <tr>
            <td><div class="checkbox check-default">
              <input type="checkbox" value="2" id="checkbox3" class="tweet_checkbox">
              <label for="checkbox3"></label>
            </div></td>
            <td>Angry Birds&nbsp;&nbsp;&nbsp;<span class="label label-important">ALERT!</span></td>
            <td><span class="muted">Something goes here</span></td>
            <td><span class="muted">$9,000</span></td>
            <td><div class="progress">
              <div data-percentage="70%"  class="progress-bar progress-bar-danger animate-progress-bar"></div>
            </div></td>
          </tr>
          <tr>
            <td><div class="checkbox check-default">
              <input type="checkbox" value="3" id="checkbox4" class="tweet_checkbox">
              <label for="checkbox4"></label>
            </div></td>
            <td>PHP Login page</td>
            <td class="v-align-middle"><span class="muted">A project in business and science is typically defined</span></td>
            <td><span class="muted">$5,400</span></td>
            <td><div class="progress progress-info">
              <div data-percentage="60%"  class="progress-bar progress-bar-primary animate-progress-bar"></div>
            </div></td>
          </tr>
          <tr>
            <td><div class="checkbox check-default">
              <input type="checkbox" value="4" id="checkbox5" class="tweet_checkbox">
              <label for="checkbox5"></label>
            </div></td>
            <td>Zombies</td>
            <td class="v-align-middle"><span class="muted">frequently involving research or design</span></td>
            <td><span class="muted">$6,000</span></td>
            <td><div class="progress">
              <div data-percentage="60%"  class="progress-bar progress-bar-warning animate-progress-bar"></div>
            </div></td>
          </tr>
          <tr>
            <td><div class="checkbox check-default">
              <input type="checkbox" value="5" id="checkbox6" class="tweet_checkbox">
              <label for="checkbox6"></label>
            </div></td>
            <td>Zombies</td>
            <td class="v-align-middle"><span class="muted">frequently involving research or design</span></td>
            <td><span class="muted">$6,000</span></td>
            <td><div class="progress ">
              <div data-percentage="42%" class="progress-bar progress-bar-warning animate-progress-bar"></div>
            </div></td>
          </tr>
          <tr>
            <td><div class="checkbox check-default">
              <input type="checkbox" value="6" id="checkbox20" class="tweet_checkbox">
              <label for="checkbox20"></label>
            </div></td>
            <td>Zombies</td>
            <td class="v-align-middle"><span class="muted">frequently involving research or design</span></td>
            <td><span class="muted">$6,000</span></td>
            <td><div class="progress progress-warning">
              <div data-percentage="42%"  class="progress-bar progress-bar-warning animate-progress-bar"></div>
            </div></td>
          </tr>
          <tr>
            <td><div class="checkbox check-default">
              <input type="checkbox" value="7" id="checkbox7" class="tweet_checkbox">
              <label for="checkbox7"></label>
            </div></td>
            <td>Zombies</td>
            <td class="v-align-middle"><span class="muted">frequently involving research or design</span></td>
            <td><span class="muted">$6,000</span></td>
            <td><div class="progress ">
              <div data-percentage="42%" class="progress-bar progress-bar-warning animate-progress-bar"></div>
            </div></td>
          </tr>
          <tr>
            <td><div class="checkbox check-default">
              <input type="checkbox" value="8" id="checkbox8" class="tweet_checkbox">
              <label for="checkbox8"></label>
            </div></td>
            <td>Zombies</td>
            <td class="v-align-middle"><span class="muted">frequently involving research or design</span></td>
            <td><span class="muted">$6,000</span></td>
            <td><div class="progress ">
              <div data-percentage="42%" class="progress-bar progress-bar-warning animate-progress-bar"></div>
            </div></td>
          </tr>
          <tr>
            <td><div class="checkbox check-default">
              <input type="checkbox" value="9" id="checkbox9" class="tweet_checkbox">
              <label for="checkbox9"></label>
            </div></td>
            <td>Zombies</td>
            <td class="v-align-middle"><span class="muted">frequently involving research or design</span></td>
            <td><span class="muted">$6,000</span></td>
            <td><div class="progress ">
              <div data-percentage="42%" class="progress-bar progress-bar-warning animate-progress-bar"></div>
            </div></td>
          </tr>
          <tr>
            <td><div class="checkbox check-default">
              <input type="checkbox" value="10" id="checkbox10" class="tweet_checkbox">
              <label for="checkbox10"></label>
            </div></td>
            <td>Zombies</td>
            <td class="v-align-middle"><span class="muted">frequently involving research or design</span></td>
            <td><span class="muted">$6,000</span></td>
            <td><div class="progress ">
              <div data-percentage="42%" class="progress-bar progress-bar-warning animate-progress-bar"></div>
            </div></td>
          </tr>
          <tr>
            <td><div class="checkbox check-default">
              <input type="checkbox" value="11" id="checkbox11" class="tweet_checkbox">
              <label for="checkbox11"></label>
            </div></td>
            <td>Zombies</td>
            <td class="v-align-middle"><span class="muted">frequently involving research or design</span></td>
            <td><span class="muted">$6,000</span></td>
            <td><div class="progress ">
              <div data-percentage="42%" class="progress-bar progress-bar-warning animate-progress-bar"></div>
            </div></td>
          </tr>
          <tr>
            <td><div class="checkbox check-default">
              <input type="checkbox" value="12" id="checkbox12" class="tweet_checkbox">
              <label for="checkbox12"></label>
            </div></td>
            <td>Zombies</td>
            <td class="v-align-middle"><span class="muted">frequently involving research or design</span></td>
            <td><span class="muted">$6,000</span></td>
            <td><div class="progress ">
              <div data-percentage="42%" class="progress-bar progress-bar-warning animate-progress-bar"></div>
            </div></td>
          </tr>
          <tr>
            <td><div class="checkbox check-default">
              <input type="checkbox" value="13" id="checkbox13" class="tweet_checkbox">
              <label for="checkbox13"></label>
            </div></td>
            <td>Zombies</td>
            <td class="v-align-middle"><span class="muted">frequently involving research or design</span></td>
            <td><span class="muted">$6,000</span></td>
            <td><div class="progress ">
              <div data-percentage="42%" class="progress-bar progress-bar-warning animate-progress-bar"></div>
            </div></td>
          </tr>
          <tr>
            <td><div class="checkbox check-default">
              <input type="checkbox" value="14" id="checkbox14" class="tweet_checkbox">
              <label for="checkbox14"></label>
            </div></td>
            <td>Zombies</td>
            <td class="v-align-middle"><span class="muted">frequently involving research or design</span></td>
            <td><span class="muted">$6,000</span></td>
            <td><div class="progress ">
              <div data-percentage="42%" class="progress-bar progress-bar-warning animate-progress-bar"></div>
            </div></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% content_for :footer_form do %>
  <div class="admin-bar" id="quick-access" style="display:">
    <div class="admin-bar-inner">
      <div class="row">
        <div class="col-md-8">

          <div class="alert alert-info">
            <button data-dismiss="alert" class="close"></button>
            Info: Messaging <span id="number_of_people_being_messaged">0</span> people.
          </div>

          <div class="form-horizontal" style="width: 100%; margin-bottom: 10px;">
            <input type="hidden" id="twitter_user_to_message"/>
            <input type="text" class="form-control" placeholder="Enter tweet you want to reply with"/>
          </div>
          <button class="btn btn-primary btn-cons btn-add" style="margin-left: 0;" type="button">Send message</button>
          <button class="btn btn-white btn-cons btn-cancel" type="button">Cancel</button>

        </div>
      </div>
    </div>
  </div>
<% end %>