<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 style="margin-bottom: 20px;">Privacy Policy</h1>

    <p>
      We are committed to protecting your privacy as a visitor to this Website and as our  customer. To our visitors and to our customers, we offer you this pledge:
      We will not sell, disseminate, disclose, trade, transmit, transfer, share, lease or rent any personally identifiable information to any third party.
    </p>
    <h4>Information Collection</h4>
    <p>
      When you send us email from this Website, you will provide us with certain personally identifiable information including your email address. At anytime, if you wish to no longer receive correspondence via email, please contact us via the address listed on our site under the “Contact” link.
    </p>
    <h4>Cookies</h4>
    <p>
      A cookie is a piece of data that is stored on a visitor’s hard drive while they are visiting this Website. We may utilize a form of cookie when you visit this site. At times this cookie will be used to monitor application usage to help improve the system. We will also use cookies as and when it improves the user experience of the user.
    </p>
    <h4>
      Third Party Links
    </h4>
    <p>
      This Website may contain links to third party Websites that are not controlled by Urbanzeak. These third party links are made available to you as a convenience and you agree to use these links at your own risk. Please be aware that the Urbanzeak is not responsible for the content of third party Websites linked to our sites nor are we responsible for the privacy policy or practices of third party Websites linked to our sites. Our Privacy Policy only applies to information we collect from you while you are at and while you are actively in a session with UrbanZeak, if you should link to a third party Website from our website; we strongly encourage you to review and become familiar with that Website’s privacy policy.
    </p>
    <h4>Changes In Our Privacy Policy</h4>
    <p>
      We reserve the right to change this privacy policy without providing you with advance notice and at any time.
      Acceptance.
    </p>
    <p style="font-style: italic">
      Your use of this website constitutes your acceptance of our Privacy Policy as the same may be modified from time to time.
      Contact us at support@UrbanZeak.com
      c.2014 UrbanZeak, Inc
    </p>.

  </div>
</div>