<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 style="margin-bottom: 20px;">Terms and Conditions Of Using This Website.</h1>

    <p>
      These are the terms and conditions that govern your use of the urbanzeak.com website (the "Website"). This purpose of this Website is to inform you about our business operations.
    </p>
    <p>
      The terms "we" or “our” and "Urbanzeak or UZ” refer to Urbanzeak, Inc., a Delaware corporation.
    </p>
    <p>
      The term "you" refers to the customer visiting the Website and/or anyone contributing content to our Website.
    </p>

    <p>
      This Website is offered to you conditioned upon your acceptance of the terms set forth herein (the "Agreement"). By accessing or using this Website you agree to be bound by the Agreement. We reserve the right at any time to modify the Agreement without notice and continued access or use of this Website constitutes acceptance of the modified Agreement.
    </p>

    <h4>Privacy</h4>

    <p>
      Urbanzeak believes in your right to privacy. Please click here to review our current Privacy Policy to understand our practices.  If you provide your email address to Urbanzeak, you allow us to add your email to our database of users.
    </p>

    <h4>License</h4>

    <p>
      Urbanzeak grants you a limited, revocable license to access and use the Website and to view, copy and/or print portions of the Website for purposes related to our business operations. Any use of the Website that is not for one of these purposes or otherwise in accordance with this Agreement is prohibited.
    </p>

    <h4>Prohibitions</h4>

    <p>
      The license to use the Website only extends to the uses described herein. The content and
      Information on this Website as well as the infrastructure used to provide such content and information, is proprietary to Urbanzeak.
    </p>

    <h4>Ownership and Copyright</h4>

    <p>
      All contents of our Website are copyright 2014 Urbanzeak, Inc and all rights are reserved. All text, images, marks, logos and other content, including the Urbanzeak logo and all designs, text, graphics, pictures, information, data, software, sound files, other files, and the selection and arrangement of the same are the proprietary property of Urbanzeak. The Urbanzeak logo and all other service names or slogans displayed on the Website are registered and/or common law trademarks of Urbanzeak, and may not be
      copied or used, in whole or in part, without the prior written permission of Urbanzeak. The look and feel of the Website is the service mark, trademark and/or trade dress of Urbanzeak.
    </p>

    <h4>Use</h4>

    <p>
      We retain the right at our sole discretion to deny access to anyone to this Website and the services we offer, at any time and for any reason.
    </p>

    <h4>Content submissions</h4>

    <p>
      By submitting content to this Website such as product reviews, questions, comments, etc. ("Writings"), you grant Urbanzeak a nonexclusive, royalty-free, irrevocable right to use, reproduce and display such Writings and to use the name that you submit.
    </p>

    <h4>Links</h4>

    <p>
      This Website may contain hyperlinks to websites operated by parties other than Urbanzeak. Such hyperlinks are provided for your reference and convenience only. We do not control such websites and are not responsible for their contents or the privacy or other practices of such websites.
    </p>

    <h4>Other Terms</h4>

    <p>
      Your use of any mapping available on this Website is governed by the specific terms of service of Google Maps.
    </p>

    <p>
      This Website is owned and operated by Urbanzeak, a Delaware Corporation and this Agreement is governed by the laws of the State of Delaware. USA. You hereby consent to the exclusive jurisdiction and venue of courts in Delaware, USA, regarding any dispute arising out of or connected to the use of this Website.
    </p>

  </div>
</div>